[2020-02-20 12:24] loorm commented on #234
Tested. Confirmed working. Thank you!

[2020-02-20 12:33] tiblu commented on #399
Created but forgot to link. Here it is - https://github.com/citizenos/citizenos-fe/issues/422

It's Open Source, I created an issue to the project - https://github.com/open-eid/chrome-token-signing/issues/158
Community, including us can fix this. I have not written any plugins/extensions so it's hard to estimate properly, but I guess not more than a week.
BUT, once the fix is in place, it needs pa

[2020-02-20 12:37] tiblu commented on #417
Added the icon for Group invites.

[2020-02-20 12:37] #417 closed

[2020-02-20 12:38] tiblu commented on #394
TODO:

- [ ] Tooltips
- [ ] Investigate why report button MAY be missing for @loorm  - https://github.com/citizenos/citizenos-fe/issues/394#issuecomment-586943547

[2020-02-20 13:41] loorm commented on #417
Tested. Confirmed working.

[2020-02-20 14:18] ilmartyrk commented on #231
Fixed by https://github.com/citizenos/citizenos-api/commit/f4985d119fccada56ac413647548e2b92175cd21

[2020-02-20 14:18] #231 closed

[2020-02-20 14:29] loorm commented on #231
Tested. Confirmed working.

[2020-02-20 15:05] tiblu commented on #342
While fixing this, please fix https://github.com/citizenos/citizenos-fe/issues/341 also.

[2020-02-20 15:08] tiblu commented on #394
Done!

[2020-02-20 15:08] #394 closed

[2020-02-20 15:14] tiblu commented on #395
Duplicate of:

* https://github.com/tiblu/ep_authorship_toggle/issues/1

[2020-02-20 17:54] tiblu commented on #394
@loorm Notes on the implementation:

* Dashboard topic list uses browser native tooltip cause the non-native makes page load very slow when the Topic list is very long.
* All other places use the non-native tooltip.

![image](https://user-images.githubusercontent.com/7405383/74963592-a9a0ec00-541a-11ea-809d-ad36e349bdba.png)

@loorm **Question: Would it make sense to use the native tooltip everywh

[2020-02-20 17:57] tiblu commented on #395
Done!

* Fixed menu multiline issues
* Added responsiveness
* Increased font size of the authors so that it's readable.

![image](https://user-images.githubusercontent.com/7405383/74963967-44012f80-541b-11ea-90fd-995fc474a6a6.png)

[2020-02-20 17:57] #395 closed

[2020-02-21 10:01] tiblu commented on #342
**NOTES:**

* In some languages, like ET, the topic title is in quotes in the translation while in the source it's not quoted.
* On the designs, only Topic title and Group name are highlighted. User name is not.

Design from #341
![image](https://user-images.githubusercontent.com/7405383/75024244-c3d1dd00-54a1-11ea-921e-5232800da3ae.png)

[2020-02-21 14:18] BeccaMelhuish opened #427 "Topic filtering not working properly"
**What is the problem?**

When using the topic filter drop down menu to navigate to a certain group of topics, it isn't working smoothly.

For example, if I choose '34 Islands Project', it takes me to screenshot 1, with all the 34 Islands topics - as expected. However, when I want to browse in and out of the topics it keeps taking me back to the home screen (screenshot 2) every time I use the 'bac

[2020-02-25 10:52] loorm commented on #311
Triage 18: Need a decision on:
- sharing a single link or multiple links
- can user understand, that QR sharing applies to the same link + rights as above
- which link is social shared

Dev time ETA: 2 days.

[2020-02-25 10:56] loorm commented on #411
Triage 18: used to work, works no longer. Error message is generic, not specific, as it should be.  Classified as a bug. Dev time ETA - 2 hours.

[2020-02-25 10:58] loorm commented on #412
Triage 18: dev time ETA 2 hrs.

[2020-02-25 11:01] loorm commented on #413
Triage 18: moving back to in prep. Need a proper user story.

[2020-02-25 11:08] tiblu commented on #416
**Triage 18**

* All permissions have to be transfers
* Only Admin members can copy
* Do we need to transfer with status? That is if original is "in-voting", copy will also have "in-voting".
* NEW join links
* Attachments need to be copied over

I guess it needs open discussion.

[2020-02-25 11:18] loorm commented on #415
Triage 18: **let's move to state-independent sorting by most recent activity date in descending order.** Reason - in public view, users and guests want to see whatever is the most recent activity, regardless of state. You can filter for different states with a drop down.

[2020-02-25 11:20] tiblu commented on #415
That is sort by `Topic.updatedAt DESC`, do not take `status` into account in default view. There are special filters for that.

[2020-02-25 11:37] loorm commented on #422
Triage 18: Mikk will sleep on it. Several pro and con arguments.

[2020-02-25 11:43] loorm commented on #427
Triage 18: replicated. Dev time ETA: 8 hours.

[2020-02-25 11:45] loorm commented on #420
Triage 18: Pre-render issue. Dev time ETA: 8 hours.

[2020-02-25 11:46] tiblu commented on #420
Related to:

* https://github.com/citizenos/citizenos-fe/issues/259

[2020-02-25 11:49] loorm commented on #418
Triage 18: we know, that occasionally these issues occur, but we cannot reproduce. If you open up a new topic and create a bulleted list, it works. Even much larger web text editors have similar issues. This is partially down to HTML specification. Blocking issue for now.

[2020-02-25 17:08] #341 closed

[2020-02-27 09:46] loorm commented on #167
@tiblu @ilmartyrk How big is this in terms of development? Do you think this is a good approach?

[2020-02-28 13:07] loorm commented on #238
@kevincrepin Do we have any views for this? If not, could you come up with some?

[2020-03-02 10:32] tiblu commented on #361
**Development notes**

- [ ] Link to an argument on the first page
- [ ] Link to an argument reply on the first reply - this means replies have to be expanded to show
- [ ] Link to an argument that is NOT on the first page
- [ ] Link to an argument reply that is NOT on the first page

[2020-03-02 12:08] ilmartyrk commented on #256
@oksks what do you think, should we create new strings for groups or would it be ok to just leave user name out from the main item text?
![activity_feed_groups](https://user-images.githubusercontent.com/19904307/75675088-1cb62800-5c8f-11ea-9e2d-1a9664c85af6.png)

[2020-03-03 08:28] oksks commented on #256
I really enjoy the FB's solution:

**Benefits:**
- The user has an overview of the most recently voted people immediately (since the most recent two names are written out)
- It looks "human"
- It's easily adaptable to any language without having to resort to robot-speak or improper declination due to genders and/or numbers. I can't think of another, better, option to address all of these at once.

[2020-03-03 11:53] tiblu commented on #361
@kevincrepin We're trying to fix argument linking here. One of the things I guess would make sense is to Users to be able to easily copy a link to argument/reply.

Any suggestions where to put it in the UI and what the UX would be like?

![image](https://user-images.githubusercontent.com/7405383/75773335-5dc53f80-5d56-11ea-892b-7fc59aebfb2e.png)

[2020-03-04 08:53] ilmartyrk commented on #256
After playing around I have found that there could possibly be issues with some groups. For example. if a person updates multiple fields of a topic at a time, it is all saved as a one activity, but for better understanding we currently brake these into multiple activities, each displaying the changes where possible. But now when grouping together the first issue that I encountered is that there we

[2020-03-04 10:03] loorm commented on #381
March monthly meeting - needs a wider discussion between legal and dev.

[2020-03-06 11:23] ilmartyrk commented on #412
@kevincrepin smart-id icons small and big are same size

[2020-03-06 14:38] ilmartyrk commented on #415
Fixed by https://github.com/citizenos/citizenos-api/commit/c734a5ddbab5fceb6fe8799e8c5500a850f9829e

[2020-03-06 14:38] #415 closed

[2020-03-09 08:57] loorm commented on #381
Triage 19 - Margo will initiate a long term solution discussion in the Civic Hacktivist Community. Mikk and Kati will find a short term, legally correct solution based on Google Analytics.

[2020-03-09 09:50] loorm opened #434 ""Edit topic" button is not working properly in mobile view"
**What is the problem?**
I have admin rights to the topic. I go to my topics. Click on the topic. Then click on the title of the topic. I get the HTML view of topic content, but edit button at the top of the screen is greyed out and unclickable.

It is a problem of the button only. If I click the menu and then choose "Edit topic", then I can edit. Similarly, if I click "edit" right from the my top

[2020-03-09 21:56] tiblu commented on #381
**Cookie notification Q&A**

Q: We CAN set compulsory (functional) cookies BEFORE User accepts cookie policy.
A: True.

Q: We CANNOT set analytics/tracking cookies BEFORE User accepts cookie policy.
A: True. User must be opted out from those (analytics/tracking) cookies and user itself either opts in  or stays opted out by accepting the cookies policy.

Q: We can have 1 generic cookie policy and "

[2020-03-10 12:40] #427 closed

[2020-03-10 13:57] tiblu commented on #361
@loorm Live. Right now implemented somewhat quirky "direct link" in the argument action block.
Once @kevincrepin provides a better solution, we'll update to that.

[2020-03-10 14:43] #434 closed

[2020-03-11 11:16] ilmartyrk commented on #287
Some links for info and examples https://blog.sessionstack.com/how-javascript-works-the-mechanics-of-web-push-notifications-290176c5c55d

[2020-03-11 18:41] anettlinno opened #436 "BUG: Public topics "boxes" categories do not work"
**What is the problem**:
If you click on the "Hacktivist Community" or other boxes on the Public Topics page, all the categories are mixed.

<img width="959" alt="Box" src="https://user-images.githubusercontent.com/45175679/76451946-f011b700-63d8-11ea-864f-d9dd7c5f3dc8.png">

**Why is this a problem:**
I want to see only topics that are created by this community, not all topics from all categories

[2020-03-11 19:34] #436 closed

[2020-03-13 08:19] kevincrepin commented on #412
@ilmartyrk seems so :) It's anyways the width only that changes, I think, because it otherwise wouldn't fit in the vote-creation block.

[2020-03-13 08:45] kevincrepin commented on #256
If we have this situation then I'd still rather see _# users have made changes to "example topic"_

Communicates better that the changes were done by users and not some generic entity :)

[2020-03-13 11:12] ilmartyrk commented on #256
@kevincrepin @oks @loorm , but what do you think, should we then count the number of users not activities, I mean if dropdown contains 5 items, but actual users who are behind these acitivities is 2 should the activity text be  _2 users have made changes to "example topic"_ , that would mean that we need extra key if only 1 user did 5 activities etc.

[2020-03-16 09:54] tiblu commented on #381
@kevincrepin We need a little update to our cookie consent. We need an extra toggle/checkbox for user to opt-in to Google Analytics.

This is one of those things looks like in the wild:

![image](https://user-images.githubusercontent.com/7405383/76744442-edb6b080-677c-11ea-9304-0e891ecaacd3.png)

[2020-03-16 10:11] moll commented on #381
My point with https://github.com/citizenos/citizenos-fe/issues/381#issuecomment-578737354 was that no rational and sane person should (and hopefully won't) ever select "Statistics" and "Marketing" cookies, hence asking for it is a waste of everyone's time. Once you forgo optional stats/marketing cookies, you've no need for consent nor the banner in the first place.

[2020-03-16 10:20] tiblu commented on #381
@moll I do agree, no consent is better.
I also agree that if analytics is opt-in, most of the people would not switch it on.
I do not agree "rational or sane person should (and hopefully won't) ever select.." - analytics and metrics are used for product development, to provide a better service, in that sense some people MAY opt-in to help out development of the product they use. Analytics are NOT

[2020-03-16 10:59] tiblu commented on #287
**Native notifications**

**Browser notifcations**

* NOT SUPPORTED on iOS Safari and Internet Explorer.

References:

* https://developer.mozilla.org/en-US/docs/Web/API/notification#Browser_compatibility

[2020-03-16 13:49] #287 closed

[2020-03-16 14:47] BeccaMelhuish opened #437 "Typing bug when editing topic"
**What is the problem?**
Twice while I was editing the COS 'Hi There!' instructions topic there was a bug with the typing. Suddenly I couldn't type in any spaces between words for just a select few word, which were all clumped together, as shown below in the screenshots - 'whichyouarean' and 'ofthescreen'. I kept deleting and trying again and the same words would always be joined together. (And I

[2020-03-16 22:55] #412 closed

[2020-03-16 22:56] ilmartyrk commented on #412
Fixed by https://github.com/citizenos/citizenos-fe/commit/4411c5531461b33c30e2ffb1c91c4104aa80c0e6

[2020-03-17 13:42] ilmartyrk commented on #256
So after going to different possible groups with real data, I have found  that with current solution there will be weird groups that contain activities by only one user. I believe that the best solution would be to group these activities differently. Instead of displaying text as: _"User and x others"_ I could group them as User has made x number of changes. And in the list try to display each act

[2020-03-17 15:05] tiblu commented on #330
Done! As there were no clear guidelines how much to print I did what I tought is good.
All topic contents is printed.
Arguments are NOT printed.
QR code added to the bottom of the page that reflects the url the print was initiated on.

[print_test.pdf](https://github.com/citizenos/citizenos-fe/files/4344125/print_test.pdf)

[2020-03-17 15:05] #330 closed

[2020-03-17 15:38] tiblu commented on #392
@jaakkokorhonen With https://github.com/citizenos/citizenos-fe/issues/330 I implemented a solution that provides barcode to the print. Do you find sufficient or you have something else in mind?
Implementation details: https://github.com/citizenos/citizenos-fe/issues/330#issuecomment-600121409

[2020-03-17 15:38] #392 closed

[2020-03-17 16:26] oksks commented on #330
Just tested this - some comments:

- Maybe it's worth including topic status, categories and authors, too?

- It looks like a simple document when printed - no indication, that it's a topic from some platform where  people could take action on it. Maybe it could have a message in the header a'la: This topic "TOPICNAME" lives on e-democracy platform Citizen OS. Come check it out or voice your opini

[2020-03-18 11:30] tiblu commented on #330
@loorm What do you think, shall we call it good for now and consider all  the proposals for COS v3 or we're going to do something extra with current version?

[2020-03-19 09:44] tiblu commented on #398
@kevincrepin This link is not working any more, but I think you were thinking about https://projects.invisionapp.com/d/main#/console/9829159/361927550/preview.
Also yes, green bubble or some other would help spot the vote and also make it consistent with inline comments.

[2020-03-19 09:46] kevincrepin commented on #398
yes, exactly :) Nice job finding it again :D

[2020-03-19 12:08] tiblu commented on #323
Done!

Added to extra filtering options:

- Topics I have voted on - Topics that you have voted on.
- Topics that need my vote - Topics that have a vote in progress and User has not voted.

![image](https://user-images.githubusercontent.com/7405383/77066002-ff9d8b00-69ea-11ea-9a5f-46bced00cfbf.png)

[2020-03-19 12:10] #323 closed

[2020-03-20 12:30] tiblu commented on #235
@kevincrepin Any ideas how the implementation UX would look like?

[2020-03-20 14:04] tiblu opened #442 "Chrome cookie policy changes - authentication does not work in test, MAY not work in prod in the future"
**Intro**

Chrome is enforcing new cookie policies witch has broken authentication in Citizen OS testin env.
It MAY break it in live as well.

Warning in console:
[code]

**TODO:**

- [x] Read through what the change is about - https://web.dev/samesite-cookies-explained/
- [x] Make it work given the restrictions.
     - [x] Citizen OS API - `SameSite=None` due to cross domain requests in Widgets t

[2020-03-20 14:33] tiblu commented on #442
### Investigation results
After reading https://web.dev/samesite-cookies-explained/ and https://tools.ietf.org/html/draft-ietf-httpbis-rfc6265bis-03 the conlusion is:

* When setting cookies, `SameSite: <Strict|Lax|None>` should be sent.
* When not present `Lax` is default, which explains why testing env does not work - this means that cookie is sent only if it's first-party that is same doman tha

[2020-03-20 18:28] moll commented on #381
I'm not even claiming people should be that much worried about their data being sold. Rather that the widespread curiosity of developers and monitoring of marketers of _individuals'_ actions doesn't nor shouldn't sit well with most people. I concede that perfect visibility into every click would help design and usability, but I would also argue that the majority of those benefits could be attained

[2020-03-20 18:30] moll commented on #381
(Accidentally sent the comment above too quickly. I was about to add the following)

Ranting on cookie banners, I stumbled upon Keskraamatukogu's screen on https://keskraamatukogu.overdrive.com:

![Screenshot_2020-03-20 Tallinn Central Library - OverDrive](https://user-images.githubusercontent.com/156837/77194837-91cf8d00-6ad8-11ea-91c0-636c09f8fd73.png)

Do we agree that it's entirely silly to sh

[2020-03-23 10:22] tiblu commented on #381
@moll I do agree, this kind of modals are annoying. We're in progress of figuring out the analytics and the cookie policy with Kati. Will let you know once we have our idea how to implement things, so you can have your say.

[2020-03-23 15:05] ilmartyrk commented on #256
@oks, @kevincrepin I've updated grouping so that there are two different types of groups, one type is when user has made similar actions and other is the old way of different users doing similar activities. Also changed the content to be more informative. What do you think, is it ok ?
![Capture](https://user-images.githubusercontent.com/19904307/77330734-6d69ef80-6d28-11ea-8bbb-21cd270f20c7.PNG)
!

[2020-03-23 16:14] tiblu commented on #442
DONE!

All testing envs have been moved to citizenos.com subdomain:
    * FE - https://test.app.citizenos.com
    * API - https://test.api.citizenos.com
    * Etherpad - https://test.p.citizenos.com

[2020-03-23 16:15] #442 closed

[2020-03-24 08:15] ottomattas commented on #413
I have a user story @loorm :
We are holding an election for our Workers Council. There are six candidates running for three positions on the council. Every worker in the company will get three votes (per position) to cast. In the end, top 3 candidates are elected based on all the cast votes.
Working around the limitation by creating three identical topics will not work as the voter will be able to

[2020-03-24 12:04] tiblu opened #443 "Find out what's the effort to implement multiple choice voting using the API"
### Intro

We've been thinking about multiple choice voting from the beginning of the times, but it has never been implemented.
There seems to be growing interest in the feature.

### TODO

- [ ] Find out what's the effort of implement multiple choice voting in the API

NOTES:

* From API perspective, I think it's easiest to make an integration test that triest to do multiple choice voting and see

[2020-03-24 12:08] tiblu commented on #413
@ottomattas @loorm Created an investigation task to find out and describe what's the required effort of implementing multiple choice voting in the API - https://github.com/citizenos/citizenos-fe/issues/443. The idea is to describe it so, that IF we do not have our 1.5 developer time for it, maybe @ottomattas or other OSS contributors have time to implement.
What next? This investigation task will

[2020-03-24 12:21] tiblu commented on #413
@ottomattas On my table now, working on it today and tomorrow - https://github.com/citizenos/citizenos-fe/issues/443

[2020-03-24 13:42] tiblu commented on #443
### Progress

- [ ] Regular voting (`authType=regular`)
    - [ ] Vote
    - [ ] Re-vote
    - [ ] Vote counting
    - [ ] DELEGATION - vote, re-vote, vote count
- [ ] Hard auth voting (`authType=regular`)
    - [ ] Vote
    - [ ] Re-vote
    - [ ] Vote counting
    - [ ] Downloads
        - [ ] User BDOC container
        - [ ] Final BDOC container

[2020-03-24 17:27] oksks opened #444 "Misleading generic error message"
**What is the problem?**
When I click "Show all my topics" => "Pinned topics":
<img width="407" alt="Screenshot 2020-03-24 at 19 14 54" src="https://user-images.githubusercontent.com/34126353/77456698-497bdc00-6e04-11ea-8c56-76cffa2b4397.png">

Then this is what I get:
<img width="1101" alt="Screenshot 2020-03-24 at 19 19 14" src="https://user-images.githubusercontent.com/34126353/77456761-5f899c8

[2020-03-26 11:05] ilmartyrk commented on #411
@loorm @tiblu , cannot replicate, working fine

[2020-03-26 11:05] #411 closed

[2020-03-31 12:54] #337 closed

[2020-04-01 14:55] #352 closed

[2020-04-06 07:57] KatiVellak commented on #243
Legally reviewed, no impact.

[2020-04-06 07:59] KatiVellak commented on #204
Legally reviewed, no impact.

[2020-04-06 11:26] kevincrepin commented on #256
@ilmartyrk for me this seems to cover many, if not all, cases. So looks good for me.

[2020-04-06 12:31] kevincrepin commented on #235
This is very tricky in our current design. Our invites happen through a dialog. Dialogs aren't really great for giving an overview of 100s of invitees... We need pagination in a dialog. Eek.
https://projects.invisionapp.com/d/main#/console/9829159/404592994/preview

[2020-04-06 13:50] kevincrepin commented on #238
@loorm @tiblu I think with this we need following changes:

- search will also show topics according to tags, which means tags need to be visible in the search. Otherwise it's not clear why they show up.

- adding categories in topic settings needs to change to adding tags. They get added via a free inputfield which has an autocomplete so there's some hope in unifying tags a bit.

- My topics. Sho

[2020-04-06 14:22] KatiVellak commented on #101
Legally reviewed, no impact.

[2020-04-06 14:23] KatiVellak commented on #253
Legally reviewed, no impact.

[2020-04-06 14:24] KatiVellak commented on #258
Legally reviewed, no impact.

[2020-04-06 21:00] ilmartyrk commented on #217
Fixed by https://github.com/citizenos/ep_resize/commit/3a3e15df75fb99c8058716aa504696aa36439d80

[2020-04-06 21:00] #217 closed

[2020-04-08 12:53] tiblu commented on #443
**Conclusion**

* API has support for multiple-choice voting and verified with tests.
* FE needs new UX - https://github.com/citizenos/citizenos-fe/issues/413

Closing this, FE part is separate issue - https://github.com/citizenos/citizenos-fe/issues/413

[2020-04-08 12:53] #443 closed

[2020-04-08 13:09] tiblu commented on #381
Mon, 13th of Apr 2020 Citizen OS has a meeting and we'll decide what and how to do.

[2020-04-10 08:09] #241 closed

[2020-04-10 12:15] KatiVellak commented on #262
Legally reviewed, no impact.

[2020-04-10 12:19] KatiVellak commented on #261
Legally reviewed, no impact.

[2020-04-10 12:20] KatiVellak commented on #246
Legally reviewed, no impact.

[2020-04-10 12:23] KatiVellak commented on #212
Legally reviewed, no impact.

[2020-04-10 12:24] KatiVellak commented on #274
Legally reviewed, no impact.

[2020-04-10 12:25] KatiVellak commented on #272
Legally reviewed, no impact.

[2020-04-10 12:27] KatiVellak commented on #178
Legally reviewed, during the discussions legal input provided.

[2020-04-10 12:28] KatiVellak commented on #179
Legally reviewed, during the discussions legal input provided.

[2020-04-10 12:33] KatiVellak commented on #227
Legally reviewed, no impact.

[2020-04-10 12:35] KatiVellak commented on #280
Legally reviewed, no impact.

[2020-04-10 12:36] KatiVellak commented on #264
Legally reviewed, no impact.

[2020-04-10 12:37] KatiVellak commented on #283
Legally reviewed, no impact.

[2020-04-10 12:38] KatiVellak commented on #285
Legally reviewed, no impact.

[2020-04-10 12:39] KatiVellak commented on #290
Legally reviewed, no impact.

[2020-04-10 12:40] KatiVellak commented on #288
Legally reviewed, no impact.

[2020-04-10 12:41] KatiVellak commented on #152
Legally reviewed, no impact.

[2020-04-10 12:42] KatiVellak commented on #255
Legally reviewed, no impact.

[2020-04-10 12:44] KatiVellak commented on #245
Legally reviewed, no impact.

[2020-04-10 12:45] KatiVellak commented on #268
Legally reviewed, no impact.

[2020-04-10 12:46] KatiVellak commented on #298
Legally reviewed, no impact.

[2020-04-10 12:49] KatiVellak commented on #303
Legally reviewed, no impact.

[2020-04-10 12:51] KatiVellak commented on #326
Legally reviewed, no impact.

[2020-04-10 12:54] KatiVellak commented on #297
Legally reviewed, no impact.

[2020-04-10 12:55] KatiVellak commented on #327
Legally reviewed, no impact.

[2020-04-10 13:06] KatiVellak commented on #300
Legally reviewed, no impact.

[2020-04-10 13:07] KatiVellak commented on #276
Legally reviewed, no impact.

[2020-04-10 13:09] KatiVellak commented on #292
Legally reviewed, no impact.

[2020-04-10 13:10] KatiVellak commented on #248
Legally reviewed, no impact.

[2020-04-10 13:11] KatiVellak commented on #328
Legally reviewed, no impact.

[2020-04-10 13:14] KatiVellak commented on #120
Legally reviewed, no impact.

[2020-04-10 13:19] KatiVellak commented on #112
Legally reviewed, during the discussions legal input provided.

[2020-04-10 13:20] KatiVellak commented on #319
Legally reviewed, no impact.

[2020-04-10 13:22] KatiVellak commented on #334
Legally reviewed, no impact.

[2020-04-10 13:23] KatiVellak commented on #321
Legally reviewed, no impact.

[2020-04-10 13:24] KatiVellak commented on #296
Legally reviewed, no impact.

[2020-04-10 13:30] KatiVellak commented on #294
Legally reviewed, no impact.

[2020-04-10 13:33] KatiVellak commented on #105
Legally reviewed, no impact.

[2020-04-10 13:33] KatiVellak commented on #383
Legally reviewed, no impact.

[2020-04-10 13:34] KatiVellak commented on #336
Legally reviewed, no impact.

[2020-04-10 13:34] KatiVellak commented on #350
Legally reviewed, no impact.

[2020-04-10 14:21] KatiVellak commented on #396
Legally reviewed, no impact.

[2020-04-10 14:22] KatiVellak commented on #265
Legally reviewed, no impact.

[2020-04-10 14:23] KatiVellak commented on #414
Legally reviewed, no impact.

[2020-04-10 14:24] KatiVellak commented on #410
Legally reviewed, no impact.

[2020-04-10 14:26] KatiVellak commented on #234
Legally reviewed, no impact.

[2020-04-10 14:27] KatiVellak commented on #399
Legally reviewed, no additions.

[2020-04-10 14:28] KatiVellak commented on #417
Legally reviewed, no impact.

[2020-04-10 14:29] KatiVellak commented on #231
Legally reviewed, no impact.

[2020-04-10 14:34] KatiVellak commented on #394
Legally reviewed, no impact.

[2020-04-10 14:35] KatiVellak commented on #395
Legally reviewed, no impact.

[2020-04-10 14:36] KatiVellak commented on #341
Legally reviewed, no impact.

[2020-04-10 14:37] KatiVellak commented on #342
Legally reviewed, no impact.

[2020-04-10 14:38] KatiVellak commented on #415
Legally reviewed, no impact.

[2020-04-10 14:39] KatiVellak commented on #427
Legally reviewed, no impact.

[2020-04-10 14:39] KatiVellak commented on #361
Legally reviewed, no impact.

[2020-04-10 14:40] KatiVellak commented on #434
Legally reviewed, no impact.

[2020-04-10 14:41] KatiVellak commented on #287
Legally reviewed, no impact.

[2020-04-10 14:41] KatiVellak commented on #412
Legally reviewed, no impact.

[2020-04-10 14:42] KatiVellak commented on #330
Legally reviewed, no impact.

[2020-04-10 14:43] KatiVellak commented on #392
Legally reviewed, no impact.

[2020-04-10 14:43] KatiVellak commented on #323
Legally reviewed, no impact.

[2020-04-10 14:47] KatiVellak commented on #442
Legally reviewed, no additions.

[2020-04-10 14:47] KatiVellak commented on #411
Legally reviewed, no impact.

[2020-04-10 14:51] KatiVellak commented on #337
Legally reviewed, no impact.

[2020-04-10 14:52] KatiVellak commented on #352
Legally reviewed, no impact.

[2020-04-10 14:54] KatiVellak commented on #217
Legally reviewed, no impact.

[2020-04-10 14:55] KatiVellak commented on #443
Legally reviewed, no impact.

[2020-04-10 14:55] KatiVellak commented on #241
Legally reviewed, no impact.

[2020-04-10 14:57] KatiVellak commented on #418
Legally reviewed, no impact.

[2020-04-10 14:59] KatiVellak commented on #422
Legally reviewed, no additions.

[2020-04-10 14:59] KatiVellak commented on #302
Legally reviewed, no impact.

[2020-04-10 15:00] KatiVellak commented on #397
Legally reviewed, no impact.

[2020-04-10 15:00] KatiVellak commented on #291
Legally reviewed, no impact.

[2020-04-10 15:01] KatiVellak commented on #324
Legally reviewed, no impact.

[2020-04-10 15:02] KatiVellak commented on #115
Legally reviewed, no impact.

[2020-04-10 15:02] KatiVellak commented on #286
Legally reviewed, no impact.

[2020-04-10 15:03] KatiVellak commented on #236
Legally reviewed, no impact.

[2020-04-10 15:05] KatiVellak commented on #306
Legally reviewed, no impact.

[2020-04-10 15:05] KatiVellak commented on #348
Legally reviewed, no additions.

[2020-04-10 15:10] KatiVellak commented on #240
Legally reviewed, no impact.

[2020-04-10 15:10] KatiVellak commented on #305
Legally reviewed, no impact.

[2020-04-10 15:11] KatiVellak commented on #315
Legally reviewed, no impact.

[2020-04-10 15:12] KatiVellak commented on #359
Legally reviewed, no impact.

[2020-04-10 15:13] KatiVellak commented on #260
Legally reviewed, no additions.

[2020-04-10 15:14] KatiVellak commented on #299
Legally reviewed, no impact.

[2020-04-10 15:14] KatiVellak commented on #100
Legally reviewed, no impact.

[2020-04-10 15:15] KatiVellak commented on #304
Legally reviewed, no impact.

[2020-04-10 15:15] KatiVellak commented on #257
Legally reviewed, no impact.

[2020-04-10 15:16] KatiVellak commented on #235
Legally reviewed, no impact.

[2020-04-10 15:17] KatiVellak commented on #256
Legally reviewed, no impact.

[2020-04-10 15:22] KatiVellak commented on #381
If we anonymise the analytics, we don´t need the consent from user - https://www.optimizesmart.com/how-to-turn-on-ip-anonymization-in-google-analytics-and-google-tag-manager/

[2020-04-13 09:45] tiblu commented on #420
**NOTE:** Can and MUST be only implemented for public Topics. CANNOT and is NOT OK to implement for private topics.

[2020-04-14 07:45] KatiVellak commented on #259
Discussed with Mikk, no additional comments.

[2020-04-14 07:47] KatiVellak commented on #420
Discussed with Mikk, can only be used for public topics.

[2020-04-14 08:14] ilmartyrk commented on #235
@kevincrepin I believe there should possibly be an option to change all permissions from one select and maybe delete all, or what do you think?

[2020-04-14 12:16] tiblu commented on #235
We have 2 different approaches provided:

1. Keep existing entry field, show "+4000 users" gmail-style. - triage decision - https://github.com/citizenos/citizenos-fe/issues/235#issuecomment-485374583
2. @kevincrepin  idea in the dialog
![image](https://user-images.githubusercontent.com/7405383/79223662-71d68380-7e62-11ea-8d0c-20073c3e4797.png)

[2020-04-14 12:39] loorm commented on #235
The problem in this issue was, that for large groups, it's very inconvenient to **enter** e-mail addresses one by one. We've received feedback on this. Even if you're not doing it for every decision, but decide to form a group, it's still inconvenient the first time. We wanted a way to **enter multiple e-mail addresses at once**.

The design by @kevincrepin is on how to display multiple e-mail add

[2020-04-14 13:13] tiblu commented on #235
Thanks @loorm, you are right, I have misinterpreted the info quite a bit.

We have 2 options:

* Support list of e-mails separated by some separator (comma, semicolon, space etc). The problem with this is that how would a User get from his/her format to separated format? Let's say in Excel for a regular User it will end up being copy-paste 1b1 and adding the separator character. Thus not really so

[2020-04-14 13:43] loorm commented on #235
AFAIK CSV is more or less de-facto standard file type for imports. If we choose to go with import, I'd go with that.

I just tried gmail. Created an (offline) Excel file. Put in a few lines of e-mails. Then copy-pasted the e-mails from the spreadsheet onto the TO: line in gmail. It worked. Gmail instantly created multiple recipients. Same thing worked with Google Spreadsheet, but that's kind of ob

[2020-04-14 13:53] ilmartyrk commented on #235
I wouldn't go that far to try and solve how users generate their list, but just pre-define some file/insert formats (csv) and separators(coma, semicolon, ). From the UI side I would use Kevin-s pagination design even with x-number of users, just to give user more control over all the e-mails and possibly change permissions of individuals if necessary. I would also re-order emails in alphabetical o

[2020-04-14 14:02] tiblu commented on #235
@ilmartyrk @loorm

Makes sense to go the copy-paste route, seems the clipboard is easily parseable.

Source:

![Sheets_source](https://user-images.githubusercontent.com/7405383/79233440-8a01cf00-7e71-11ea-96f4-0b7028d2558a.PNG)

Result:

![Clipboard_raw](https://user-images.githubusercontent.com/7405383/79233494-9dad3580-7e71-11ea-9c46-4a13017645ed.PNG)

TLDR: Both Excel and Sheets copy plain text

[2020-04-14 14:04] ilmartyrk commented on #235
I'll add to @tiblu that google doesn't parse e-mails from that example table correctly, so we could do it better

[2020-04-15 12:18] tiblu opened #457 "Analytics: Get rid of Google Analytics - analytics that do not share data with 3rd parties"
**What is the user story?**

While Google Analytics is a powerful tool, using it means that data in some shape or form is shared with 3rd party - Google. In respect to Users privacy, we do NOT want that.

**What is the requested feature?**

We have following options:

* Implement minimum viable analytics into Citizen OS app itself. All data collected would be kept in application database. This wou

[2020-04-15 12:20] tiblu commented on #88
We're proposing getting rid of Google Analytics - https://github.com/citizenos/citizenos-fe/issues/457

[2020-04-15 12:40] tiblu commented on #381
In-progress privacy control center - https://docs.google.com/presentation/d/1karv8YsULK_R_BOZ5PGd4Iu8UaBccHnEq3q2y7Qjx0o/edit?usp=sharing

[2020-04-15 12:53] tiblu commented on #457
Some alternatives:

* https://plausible.io/
* https://matomo.org/

[2020-04-15 14:35] tiblu commented on #257
Checked today, looks good in testing env and dev env, that is - issue has been fixed while fixing other stuff.

![image](https://user-images.githubusercontent.com/7405383/79349887-758c0800-7f3f-11ea-86f2-d8ef8b63a63c.png)

[2020-04-17 14:04] tiblu commented on #304
TODO:

- [x] Ellipsis for category text overflow
- [x] Linear gradient for:
    - [x] Category boxes
    - [ ] Special boxes (Eesti Jazzi Arengusuunad, 34 Island Project, Tutorial etc)

[2020-04-20 14:42] ilmartyrk opened #459 "Google picker script outdating"
**What is the problem?**
We are using google-api.js script for google picker to add files as topic attachments. Google sometimes updates this script and it breaks the picker as we have outdated code.
**Why is this a problem?**
Users might not be able to add attachment files from google drive without even getting an error.

**Possible solution.**
Load script from google URL or find some solution to

[2020-04-20 16:26] tiblu commented on #381
@kevincrepin @KatiVellak Created a new cookie notification proposal - https://docs.google.com/presentation/d/1ojFTLQtX_hQJy2GcxmdIjNKJFuXuozmFZchaw6dd8Lc/edit?usp=sharing
**This is the draft to show what information has to be present, UX is up to @kevincrepin.**

Implementation details:

* The name of this is "Cookie notice".
* Both landing page (https://citizenos.com) AND app (https://app.citizen

[2020-04-21 06:33] KatiVellak commented on #381
@tiblu @kevincrepin I am good to go, everything we discussed with Mikk is as should.

[2020-04-21 11:26] tiblu commented on #413
@kevincrepin We need help with the multiple-choice UX.

[2020-04-21 11:39] tiblu commented on #459
Maybe we can add this script into CSP rules and load it from Google? It is a somewhat trusted source?

[2020-04-21 11:47] tiblu commented on #457
What data do we want from new analytics:

* how long people spend time on each page,
* bounce rate - bounce rate is the percentage of visits that go to only one page before exiting a site
* how many ppl are visiting each page
* what country (and perhaps what region) are the visitors from
* how many ppl per region / country

[2020-04-22 07:13] kevincrepin commented on #381
Added on Invision.
Regular dialog: https://projects.invisionapp.com/d/main#/console/9829159/414643716/preview
Dialog with expanded cookie explanation: https://projects.invisionapp.com/d/main#/console/9829159/414643717/preview

[2020-04-22 08:43] kevincrepin commented on #413
Added on Invision. Also updated how the voting choice selection is visualised since we now have this situation of single choice and multiple choice we need to differentiate this clearly. Also made it generally clearer which ones are selected compared to previously.

**Setting up a voting system:**
https://projects.invisionapp.com/d/main#/console/9829159/414654327/preview
User has a plus/minus box

[2020-04-22 12:28] tiblu commented on #381
@kevincrepin On mobile it acts like a regular modal right? (100% width..)

@KatiVellak How does it look?

![image](https://user-images.githubusercontent.com/7405383/79981744-dcfd0700-84ad-11ea-9292-9de533348fea.png)

![image](https://user-images.githubusercontent.com/7405383/79981797-f3a35e00-84ad-11ea-80df-9e0389371f4c.png)

[2020-04-22 12:34] tiblu commented on #413
@kevincrepin API supports min and max number of votes. That is, you can say "A User can vote for up-to 3, but not less than 2 options". On your designs, the max and min are always equal.
BUT, that said, I'm not sure there is really a need for such votes AND it would complicate the UX. I'm OK if it stays max===min.

@loorm Any comments on the screens and the implementation?

[2020-04-22 12:40] KatiVellak commented on #381
@tiblu @kevincrepin the buttons "Enable all cookies" should have same blue background color as "Save settings" button has. They should look the same. but other than that it looks good and I have nothing to add or change 👍

[2020-04-27 09:53] liinaguiter commented on #420
Highly important for #marketing!

[2020-04-27 10:13] #256 closed

[2020-04-27 10:44] #304 closed

[2020-04-27 12:51] tiblu commented on #257
![image](https://user-images.githubusercontent.com/7405383/80374170-ea940180-889e-11ea-891e-9c545a3578be.png)

Fixed!

[2020-04-27 12:51] #257 closed

[2020-04-27 13:38] loorm commented on #394
You said "cause the non-native makes page load very slow when the Topic list is very long". Is it possible to be more specific? What is a "very long" topic list? I have about 160 in my list, is that very long? And then what is "very slow" in ms?

Generally, a uniform application is better, but it's impossible to decide, if I don't know the numbers (even approx numbers will do).

[2020-04-27 13:41] loorm commented on #394
Tested. Confirmed working.

Esp. like the way report and pin topics are coloured from inside out on receiving focus. Nice little touch!

[2020-04-27 13:44] loorm opened #463 "Weird user name in Etherpad user list"
**What is the problem?**
Weird user name displayed in Etherpad user list.

**Why is this a problem?**
I don't know who the real user is.

**Possible solution.**
N/A

![Capture](https://user-images.githubusercontent.com/22661743/80379186-6a719a00-88a6-11ea-9ac7-4bd5422d36f6.JPG)

[2020-04-27 14:08] loorm commented on #395
Tested. Confirmed working.

[2020-04-27 14:29] tiblu opened #464 "Report a Topic - hide/show moderated topics"
**What is the user story?**

As a User, I would like moderated Topics to be viewable, but not prominent in the UI.

Example:

* Anett reported public Topics that we're essentially a tests by User. Anett wanted them to be hidden from the Home page so that they do not clutter the view.
    * https://app.citizenos.com/en/topics/c984cd9b-baf3-4d4d-87b7-3c7d56aca307
    * https://app.citizenos.com/en/t

[2020-04-27 14:38] loorm opened #465 "Grouped items in activity feeds have wrong user names"
**What is the problem?**
Grouped items in activity feeds have correct user avatars but incorrect user names (see screenshot).

**Why is this a problem?**
Activity feed has incorrect information

**Possible solution.**
N/A

![Capture](https://user-images.githubusercontent.com/22661743/80384657-d3a8db80-88ad-11ea-9e00-0f74b688fe02.JPG)
![Capture_2](https://user-images.githubusercontent.com/22661743/

[2020-04-27 14:45] loorm commented on #341
Tested. Confirmed working.

[2020-04-27 14:47] ilmartyrk commented on #463
Seems like translation function error, key exists but something is going wrong so it displays translation key instead of real value

[2020-04-28 12:38] tiblu opened #466 "Upgrade to Etherpad 1.8.3"
**What is the user story?**

Etherpad evolving quickly, code is being refactored and improvements made. We don't want to fall behind to a state where we cannot use official versions.

**What is the requested feature?**

Upgrade Citizen OS to use Etherpad 1.8.3

**Known issues**

* Etherpad 1.8.3 changed their visual appearance quite a bit, which in combination with Citizen OS specific stylesheets

[2020-04-29 07:08] loorm commented on #361
Tested. Confirmed working for the current solution.

[2020-04-29 07:10] loorm commented on #361
@kevincrepin Please have a look. We need a better UX solution for this.

Right now, clicking "direct link" creates the link in the browser address line, but it took even me 3-4 tries, before I understood this effect. Nothing is displayed, nothing is copied to the clipboard.

[2020-04-29 07:11] loorm commented on #361
@ilmartyrk Can these direct links be incorporated into the activity feed? Right now, in a longer discussion, I see from the activity feed, that a reply has been posted, but clicking the link only takes me to the topic, not the argument or reply.

[2020-04-29 07:22] loorm commented on #434
Tested. Confirmed working.

[2020-04-29 07:25] loorm commented on #412
Tested. Confirmed working.

[2020-04-29 07:32] loorm commented on #330
Tested. Confirmed working.

@tiblu - we call it good for now.

@kevincrepin - please look at suggestions by Oksana above. I don't know if you have thought about printing when envisioning our future, but it would be good if we had improved printability and most of the suggestions by Oksana are good food for thought.

[2020-04-29 07:43] loorm commented on #323
Tested. Confirmed working.

[2020-04-29 07:48] loorm commented on #411
Tested. Confirmed working fine. Must have been a temporary problem or got fixed inadvertently with another fix.

[2020-04-29 07:53] loorm commented on #337
Tested. Confirmed working for all three.

[2020-04-29 07:56] loorm opened #467 "Something missing in comment menu"
**What is the problem?**
There's something missing, see screenshot.

![smth_missing](https://user-images.githubusercontent.com/22661743/80572982-da4b6600-8a07-11ea-992c-a6777144cf7b.jpg)

**Why is this a problem?**
If you don't notice the rectangle, it is difficult to find edit and delete comment options.

**Possible solution.**
Replace the rectangle with whatever was supposed to be there.

[2020-04-29 07:58] loorm commented on #352
Tested. Confirmed working.

[2020-04-29 08:29] loorm commented on #241
Tested. Confirmed working.

[2020-04-29 08:32] loorm commented on #256
Solution looks good. Tested. Confirmed working for the most part. A few minor issues created as separate Github issues.

[2020-04-29 08:45] loorm commented on #304
Tested. Confirmed working. Looks very much better.

[2020-04-29 08:47] loorm commented on #342
Tested. Confirmed working. Minor things noticed, opened as separate issues.

[2020-04-29 08:48] loorm commented on #415
Tested. Confirmed working.

[2020-04-29 08:49] loorm commented on #427
Tested. Confirmed working.

[2020-04-29 10:33] loorm commented on #217
Tested. Confirmed working.

[2020-04-29 10:38] loorm commented on #392
@jaakkokorhonen What do you think? On the one hand, QR code is kinda high tec, I suppose. On the other, we need something that is printable and scannable, so QR code or barcode are not that different.

[2020-04-29 11:13] loorm commented on #463
Triage 20 - estimated dev time 3 hrs. Prioritizing.

[2020-04-29 11:21] loorm commented on #464
Triage 20 - decision as follows:
Search results - no change.
Home page - hide from default view
Topics list view - no change for now, @KatiVellak we need your input on this. Can we show reported topics in "My topics list"?

Add filter to home page for showing reported topics.

[2020-04-29 11:24] loorm commented on #464
Related to #140

[2020-04-29 11:33] loorm commented on #465
Triage 20 - est. dev hours 3. Prioritizing.

[2020-04-29 11:36] loorm commented on #465
@ilmartyrk to add separate non-reported issue.

[2020-04-29 11:43] loorm commented on #466
Triage 20 - need to do this, but because this is a lot of work, prioritize this for summer 2020. Est. developer hours 1 week, at least.

[2020-04-29 11:46] loorm commented on #444
Triage 20 - replicated. Prioritizing.

[2020-04-29 11:52] loorm commented on #467
Triage 20 - change this from FontAwesome to custom graphics. Do the same for inline comments and inline votes plugins.

[2020-04-29 11:54] tiblu commented on #459
We could:

* Update the script on build process
* Try to make CSP exception

[2020-04-29 12:00] loorm commented on #459
Triage 20 - est dev time 3 hrs. Prioritizing.

[2020-04-29 12:05] loorm commented on #457
Triage 20 - this needs further input from @KatiVellak. We're leaning towards plausible.io. Long term goal is to get rid of cookie notification altogether.

[2020-04-29 12:09] loorm commented on #437
Triage 20 - need to get an exact reproduction. @loorm will do. Prioritize after that.

[2020-04-29 12:19] loorm opened #468 "Activity feed direct link to comments"
@ilmartyrk Can these direct links be incorporated into the activity feed? Right now, in a longer discussion, I see from the activity feed, that a reply has been posted, but clicking the link only takes me to the topic, not the argument or reply.

_Originally posted by @loorm in https://github.com/citizenos/citizenos-fe/issues/361#issuecomment-621028817_

[2020-04-29 12:21] loorm commented on #468
Triage 20 - est dev time 6 hrs. Prioritizing.

[2020-04-29 12:23] tiblu commented on #413
@loorm Triage 20 - promised to give input.

[2020-04-29 12:29] loorm commented on #413
Triage 20 - @loorm to review visuals.

[2020-04-29 14:22] tiblu commented on #459
To help prioritization - the Google Drive attachments are NOT very popular. Last 30 days only 4 requests:

![image](https://user-images.githubusercontent.com/7405383/80607256-f833bd80-8a3d-11ea-8de5-22838ce6fd93.png)

[2020-04-29 14:44] oksks opened #469 "Unable to open topic from the invite email after the initial access"
**What is the problem?**
After I've accepted Margo's invite to a topic (via clicking the link in invite email), trying to access the topic via the same path takes me to COS app frontpage with an error message "Sorry, the invite to a topic has been deleted."

<img width="819" alt="Screenshot 2020-04-29 at 12 25 55" src="https://user-images.githubusercontent.com/34126353/80607813-9c1d6900-8a3e-11ea-

[2020-04-30 09:13] loorm commented on #469
Right now this works "as designed". We designed invites to be single-use. I agree, that this parts from what has emerged as "standard" in online tools, where e-mailed invites in most cases can be indefinitely perused. Will discuss at next Triage if and how to change.

[2020-04-30 10:47] oksks opened #470 "Reactions: no visibility over whether I have already left a reaction + see, who has reacted"
**What is the problem?**
1) If I'm not mistaken, it used to be so that when I left a reaction on a reply or argument, the thumbs-up (or down) icon was coloured red or green, while other users' reactions have been shown as grey.
Now it gets a grey colour just like everyone else's, so there's no way to find out whether I've left a reaction or not without clicking it again and seeing if the number ch

[2020-05-04 10:11] ilmartyrk commented on #235
@kevincrepin, most of the implementation is done. One obstacle I found is that our current design keeps users and groups in separate sections. This is OK, but when adding pagination things look ugly. What I did in my local development environment is that I added the groups to the same list as users and all data is alphabetically ordered. Not even sure my current idea is the best, but it looks bett

[2020-05-05 08:49] tiblu commented on #381
TODO:

- [ ] Modal visuals
- [ ] Controller to set the `cookie_control` cookie
- [ ] Set analytics ONLY if `cookie_control` allows.

[2020-05-05 08:56] kevincrepin commented on #235
@ilmartyrk any chance you can show how it looks? Maybe if it's not sorted alphabetically it would be ok if the groups are first in the list? Ie. screenshot:

![groups](https://user-images.githubusercontent.com/26792281/81049638-437b1f80-8ec7-11ea-8bbd-4a17bf7da984.png)

Otherwise an easier solution, if we keep alphabetical, is to use a label to indicate the groups:

![label](https://user-images.gi

[2020-05-05 09:36] loorm commented on #437
@ilmartyrk I have an exact reproduction.
1. Open up a new topic.
2. Write about one and a half lines of normal text.
3. Move cursor to the start of 2nd line.
4. Attempt to type.

The space at the end of line 1 will automatically disappear. The last word of the 1st line and the first word of the 2nd line will be merged together. You will end up typing in the centre of the newly formed superword.

[2020-05-05 10:13] loorm opened #471 "Wrong terminology - "signing" is used instead of "voting""
**What is the problem?**
We talk about signing deadline, when we should be talking about voting deadline.
![signing_deadline](https://user-images.githubusercontent.com/22661743/81055759-09634b00-8ed2-11ea-8531-9dd58ba1e1bf.jpg)

**Why is this a problem?**
Confusing for users, when mixing different terms.

**Possible solution.**
Use "voting deadline" instead, since that's the date when voting ends.

[2020-05-05 10:39] loorm commented on #413
@tiblu @kevincrepin I reviewed the visuals.. They definitely add clarity. Found a few things, though.

The terminology is incompatible with the way we currently use terms in app. We say "voting", visuals often say "signing" instead etc. But this is irrelevant., we can fix it app side, no need to change visuals.

Also, there are links and options in the visuals that I'm not sure we have back end co

[2020-05-05 10:42] loorm commented on #470
Successfully replicated.

[2020-05-05 10:52] loorm commented on #235
@ilmartyrk @kevincrepin Separating the two as per Kevin's first drawing is more logical, since they are two different categoris of invitees and preferaly should be indicated as such. I'm willing to go with general alphabetic list, clearly marking groups, if this is _significantly_ easier or less time consuming on dev side. I prefer the first option.

[2020-05-05 11:32] ilmartyrk commented on #235
OK I'll then go with image 1 solution, but I'll add separate pagination for groups and order both alphabetically.  @loorm if the users limit is 50, does this include groups or should we have separate limit for groups?

[2020-05-05 11:33] oksks opened #472 "Activity Feed doesn't show new activities' badge upon login"
**What is the problem?**
If any new activities happen while I was **logged out**, upon login the Activity Feed button doesn't show the red circle with a number any longer - looks like there's been no new activities since my last visit. If I open AF, there can be plenty of new ones - they just haven't been marked as such.

BUT while I'm logged in to my account, everything works fine - activities tr

[2020-05-05 11:34] kevincrepin commented on #235
@ilmartyrk Eeeeh would this mean we have two paginations within one modal? that's not really good :) Why is there a need for separate pagination for groups?

[2020-05-05 11:39] oksks opened #473 "Activity Feed stays visible after log-out"
**What is the problem?**
After logging out of my account while having Activity Feed open, the post-log-out screen kept showing my AF.
Tried to reproduce it - seems to happen, while any of the expandable/collapsible activities are expanded and in focus.

<img width="1438" alt="Screenshot 2020-05-05 at 14 14 43" src="https://user-images.githubusercontent.com/34126353/81061774-9e1f7600-8edd-11ea-9ec7

[2020-05-05 11:40] ilmartyrk commented on #235
@kevincrepin just thinking about possible use-cases. There probably is a little chance for this to happen, for now. But lets say if there are 3 groups and 50 users when user clicks on page 2 I should probably hide the groups. But if there are 15 groups and 20 users when user clicks on page 2 it will display page 2 for both.

[2020-05-05 11:42] kevincrepin commented on #235
Maybe I'm misunderstanding, but can't they all be part of the same list and as such also the same pagination? Ie. Let's say that per page there are 10 rows, then if there are 12 groups and 30 users, page 1 has 10 groups, page 2 has 2 groups and 8 users, page 3 has 10 users, etc.

[2020-05-05 11:44] ilmartyrk commented on #235
@kevincrepin OK, sounds logical, I will do it that way then.

[2020-05-06 07:39] loorm opened #480 "Need to be able to reopen topic"
**What is the user story?**
We discussed an in-house decision. We worded a proposal in topic content. We voted on the proposed decision. It was rejected. The voting deadline is over. There is no way to go back in order to rediscuss, reword the topic and retake the vote.

In an organisation we cannot simply take the voting result, because we need a decision. If the current proposal was defeated, we

[2020-05-06 11:02] kevincrepin commented on #413
Good points. Will explain, feel free to poke holes in it :)

The multiple choice works as regular checkmarks in that sense that in the scenario you described you have to uncheck one choice in order to "open up"/not be faded out the other choices again.
For the single choice it works as a radio button: only one choice is available. This is also why unlike in the multiple choice, the unselected radi

[2020-05-06 13:37] tiblu commented on #381
Live release BLOCKED - @oksks discovered that there is no way to change language when cookie control is open.
Waiting for decision on how to solve this. Conversation in Slack.

[2020-05-11 08:16] loorm commented on #469
Triage 21. Est. dev hours 1 day. Prioritizing. Tentative idea for fix - check if user is already topic member when following invite link.

[2020-05-11 08:18] loorm commented on #471
Triage 21. According to @tiblu, this is for @oksks to fix. Prioritizing.

[2020-05-11 08:21] oksks commented on #471
I'll correct this in Github right away - seems to be present only in one place.

[2020-05-11 08:22] loorm commented on #470
Triage 21. @kevincrepin - tiny input needed from you. What is the appropriate visual indication, that user has already reacted to this.
Est dev time - 8 hours.
Prioritizing.

[2020-05-11 08:24] oksks commented on #471
Fixed, though imho it should be fixed in the key as well, to avoid reappearing.
`"BAR_SIGNING_DEADLINE": "Voting deadline:",
`

[2020-05-11 08:24] #471 closed

[2020-05-11 08:27] loorm commented on #472
Triage 21. Confirmed.
@ilmartyrk - can you please put estimated fix time?
Prioritizing.

[2020-05-11 08:30] ilmartyrk commented on #472
Estimate MAX 1 hour

[2020-05-11 08:31] loorm commented on #473
Triage 21. Bug is reproduced only when user is on "Public topics" view. According to @tiblu, the reason is, that logout redirects to public topics view. If user is already there, no page refresh happens and activity feed stays visible.
Est dev time - <1 hour

[2020-05-11 08:32] loorm commented on #480
Triage 21. Needs further thinking. Moved to "In prep".

[2020-05-11 08:32] loorm commented on #413
Triage 21. Needs input from @loorm. Moved to "In prep".

[2020-05-11 08:48] kevincrepin commented on #470
Are we talking only about the thumbs up/down here or also about the replies to an argument?

About thumbs up/down: Agree it's unclear now, let's do it so that if you click on up, it turns green and down, it turns red. This way you can at least see which you have selected.

_Clicking the number of reactions should show who's reacted_ -> Which number is this, the "show replies (x)"?

On a small scal

[2020-05-11 08:57] loorm commented on #457
Triage 21: Our goal is to get rid of cookie notification and Google Analytics is the main reason we currently have to have it. We are wondering, if using an alternative service will enable us to get rid of our cookie notification.

@KatiVellak Can you verify that Plausible.IO can possibly be GDPR compliant **without showing a cookie notification to the end user**? https://plausible.io/data-policy

[2020-05-11 09:01] loorm opened #488 "Activity feed direct link to argument"
Can direct links to arguments be incorporated into the activity feed?

Right now, in a longer discussion, I see from the activity feed, that a reply has been posted, but clicking the link only takes me to the topic, not the argument or reply.

This has been split out from issue https://github.com/citizenos/citizenos-fe/issues/361

[2020-05-11 09:02] loorm commented on #488
Triage 21. We split this our from #361. Estimated dev time - 4 hours.
Prioritizing.

[2020-05-11 09:04] loorm commented on #488
Triage 21. This was a duplicate. Our bad. Closing.

[2020-05-11 09:04] #488 closed

[2020-05-11 09:21] oksks opened #489 "Create different levels of importance for dialogs"
**What is the problem?**
I clicked "Send to voting" from within a topic, and got a pop-up that said "**The topic will close**, its contents can no longer be edited".
I'd rephrase it to "Topic contents will be locked" or something similar instead of "closed", as closing something usually equals to permanent deletion, especially with the warning sign and big red font.

<img width="630" alt="Screensh

[2020-05-11 09:42] kevincrepin commented on #470
Example for "quick fix":
![Screenshot 2020-05-11 at 12 42 07](https://user-images.githubusercontent.com/26792281/81547698-e2e75900-9384-11ea-930f-a82e0f23e366.png)

If possible let's update the argument green to have better contrast as well.

[2020-05-11 09:44] kevincrepin commented on #361
Can we iterate a bit on this to reduce the amount of visible actions? Now it's a bit messy to differentiate between message and UI elements.

Maybe we can group the actions?

![Screenshot 2020-05-11 at 12 43 17](https://user-images.githubusercontent.com/26792281/81547924-2fcb2f80-9385-11ea-978d-1ef1d00647f9.png)

[2020-05-11 09:46] kevincrepin commented on #361
We also need some positive feedback so the user knows the url has been copied. But we can also open a dialog to give the user some options as to how they could share, similar to how we can share a topic:
![Screenshot 2020-05-11 at 12 46 09](https://user-images.githubusercontent.com/26792281/81548105-6b65f980-9385-11ea-949f-6a4413d1665a.png)

[2020-05-11 10:40] loorm commented on #413
@kevincrepin

Right.

One last thing. What is the equivalent of the screenshot below in multiple-choice voting? Because on this screen (https://projects.invisionapp.com/d/main#/console/9829159/414654329/preview) there is no indication, that I have already sent in my votes.

![Capture_vote_done](https://user-images.githubusercontent.com/22661743/81552875-eda5ec00-938c-11ea-97ba-317a56c449b1.JPG)

[2020-05-11 11:05] tiblu commented on #381
Done, live. Ongoing discussion on the localization of the text tho.

[2020-05-11 11:05] #381 closed

[2020-05-11 11:06] #235 closed

[2020-05-11 11:06] #465 closed

[2020-05-11 13:02] oksks commented on #470
I meant these numbers:

<img width="438" alt="Screenshot 2020-05-11 at 13 01 27" src="https://user-images.githubusercontent.com/34126353/81549556-96514d00-9387-11ea-8638-a93249a54251.png">

Clicking on either of these could maybe pop up a list of all users who've voted, with their actual votes (green or red thumbs up) next to their name or avatar.

[2020-05-11 19:21] tiblu commented on #381
![image](https://user-images.githubusercontent.com/7405383/81602678-b60f6200-93d5-11ea-9ac3-ac44c4e3f494.png)

[2020-05-11 21:09] #473 closed

[2020-05-11 21:14] #468 closed

[2020-05-11 21:15] #472 closed

[2020-05-11 21:41] oksks commented on #472
Tested, works. Thanks!

[2020-05-12 10:44] oksks opened #493 "Opening Help in non-English causes UI language to switch"
**What is the problem?**
Visiting Help topic causes UI language to switch.

How to reproduce:
- open http://app.citizenos.com/
- switch the UI language to any (other) language in which Help exists (RU, ET, EN)
- log in to your account
- open Help topic from the front page
= UI gets switched to another language (though Help itself stays in the originally intended language)

<img width="1438" alt="S

[2020-05-12 21:22] moll commented on #381
The [updated European Data Protection Board guidelines](https://edpb.europa.eu/sites/edpb/files/files/file1/edpb_guidelines_202005_consent_en.pdf) are relevant for CitizenOS's cookie popover implementation. They've clarified that cookie walls, i.e preventing use of the site without interacting with the cookie popover, isn't acceptable:

Via the hypocritical TechCrunch, which too is non-compliant w

[2020-05-13 11:13] tiblu commented on #381
Thanks @moll for providing the info.
AFAIK, we do not have a cookie wall in a sense that you CAN continue using the site without accepting all cookies.
BUT, I'm not an expert, thus I kindly asked @KatiVellak to look at this.

[2020-05-13 11:50] moll commented on #381
The marketing site indeed doesn't prevent browsing without interacting with the cookie banner, but the app's site (https://app.citizenos.com) sure does.

The way I read the above paragraph is that it's about even *accepting* the defaults, not about accepting *all cookies*. That seems to match TechCrunch's reading, too. Given the need for analytics cookies to be opt-in is already well-covered elsew

[2020-05-13 12:21] tiblu commented on #469
Done, now all old links should work and take you to the Topic IF you still have access to the Topic.

[2020-05-13 12:21] #469 closed

[2020-05-13 13:52] kevincrepin commented on #413
This screen: https://projects.invisionapp.com/d/main#/console/9829159/414654330/preview
But I'm correct when I say this only shows after the voting deadline has been reached or the creator closes the vote, right? Before that I can always still change my vote.

[2020-05-13 13:59] kevincrepin commented on #470
It's a bit difficult because now you can click on it to give the thumbs up/down. So that would mean that we'd have 2 separate click areas. Click on icon and it casts the vote. Click on number and see the list. Not easily understandable interaction.

Also wondering if it's ok to show these votes? "Ethical"? It goes from being a low commitment interaction to a high commitment if people can actually

[2020-05-13 14:15] tiblu commented on #260
NOTES:

* MK translation is wrong `"LBL_INACCESSIBLE_GROUP": "група",` - does not reflect the "inaccessible part"

[2020-05-13 15:10] tiblu commented on #260
Fixed.
@oksks Problem of translation was caused by the source having `&lt;` and `&gt;` in it, which in Crowdin render to `<` and `>`. Now, when a translation has `<` or `>` our translation script iterprets it as HTML code and puts it in as tags, not text.
I removed the `<` and `>` from the translations, as they are design element and moved the design parts into code.

![image](https://user-images.

[2020-05-13 15:11] #260 closed

[2020-05-13 15:34] tiblu commented on #299
I think what Kevin means is:

[code]

BUT, that would need testing with different screen sizes.

[2020-05-13 20:30] oksks commented on #167
@tiblu @ilmartyrk is the ball in your court with this ticket?
We can consider moving Help and FAQ's out of the app and into the web, too. That would mean the user has to leave the app to get help - but that's usually how it's done on the Interwebz.

I'd love to get this sorted out before I hand over to the new localization person.

[2020-05-13 21:59] oksks commented on #470
I feel like in this era, Facebook, Instagram and the likes have trained the internet population to click on the number of reactions to see who's reacted and how :)

Thumbsups and thumbdowns are reactions (instead of votes), and they are public already via Activity Feed:
<img width="764" alt="Screenshot 2020-05-14 at 00 54 34" src="https://user-images.githubusercontent.com/34126353/81869952-a03ca10

[2020-05-13 22:12] oksks opened #496 "BUG: Activity feed has a maths problem"
**What is the problem?**
In some activities where it says "User **Random Name** and **X** others", when the activity is expanded, it shows a different (smaller) amount of users/activities.

<img width="766" alt="Screenshot 2020-05-14 at 01 02 08" src="https://user-images.githubusercontent.com/34126353/81870547-beef6780-957e-11ea-9a04-829ee24fa50d.png">

<img width="764" alt="Screenshot 2020-05-14

[2020-05-14 21:34] oksks commented on #381
I agree with @moll, that our app currently is behind a cookie wall - there's absolutely nothing you can click/scroll to, unless you click one of these:
- "Save Settings" (to be honest, I'm not sure what this button does, as it seems you can only disable the "analytics cookies", not the "necessary cookies" before clicking that - what settings am I saving + is there no way for me to reject all this?

[2020-05-15 08:59] kevincrepin commented on #470
Left a reaction "up" is so very weird :)

I have to make some changes to the UI to make it a bit more understandable that the icon and the number are separately clickable. Not so easy because we also don't use underline here to reduce the visual noise.

So maybe the icon can be more substantial and the number can have text, making it easier for both to be clicked on. If you have already clicked on

[2020-05-15 10:17] oksks commented on #470
agree - wdyt, maybe rewording it to "thumbs up" would be an easy fix?
on another thought, that's a fix for English only - in other languages the whole concept breaks up pretty quickly, as there's usually no specific phrase/word for "thumbs up/down" and it'll have to be translated as "approve", "like" or similar, and it'll be quite hard to hit that right tone :(
any ideas how to tackle it via copy

[2020-05-18 08:35] kevincrepin commented on #470
Yes true, also just the word "people" becomes potentially too long in other languages...

Maybe let's just have the number then. We can see over time if people realise whether they can click on it or not and if they don't, do they miss this information.

![Screenshot 2020-05-18 at 11 32 06](https://user-images.githubusercontent.com/26792281/82191681-8a233d80-98fb-11ea-9839-7b4abd2c58f1.png)

About

[2020-05-18 10:30] tiblu commented on #299
@kevincrepin @loorm
Done, implemented the quickest fix I could come up with - menu will have vertical scroll if it does not fit on the screen. It does look a bit funny when in mobile view and small height on desktop, but I would think it's very unlikely to happen.
If the fix is not good enough, we need to invest more time to it.

![image](https://user-images.githubusercontent.com/7405383/82202836-

[2020-05-18 10:30] #299 closed

[2020-05-18 10:33] kevincrepin commented on #299
Not really what I meant :) The side menu should just scroll together with the other content. So if some items don't fit on the screen, you will see them when you scroll down. Nothing fancy, very regular.

[2020-05-18 10:34] kevincrepin commented on #299
Like, it's all part of the same scrollable content.

[2020-05-18 10:43] tiblu commented on #299
@kevincrepin So, if you scroll down, the menu will not be visible at all. I was thinking it is causing annoyance to 90% users while the extra scroll of the menu would annoy probably 1% users? The menu scrolling out of view would annoy the most on dashboard.
BUT, if that's what you think is best, it can be done.

[2020-05-18 10:59] kevincrepin commented on #299
Not sure about annoyance since this is a lot more understandable and common behaviour. Also we can't just hide functions, they have to still be accessible, annoyance be damned :)

Yes, It leaves a lot of blank space on the left, but the next step would be that the side menu does scroll down as you scroll down the content, but once it reaches the last menu item, it will be fixed there. It's a bit d

[2020-05-18 11:01] kevincrepin commented on #299
Also this is why in the next design there won't be a side nav anymore :)

[2020-05-18 11:06] kevincrepin commented on #489
We already had one other type of "attention seeking" dialog in place. I've made minor changes to these kinds of dialogs to bring them in line with our other dialogs.

https://projects.invisionapp.com/d/main#/console/9829159/418066154/preview

Some examples of how they're visually different but it needs to be decided which are "red" and which are "blue" categories.

[2020-05-18 11:34] loorm commented on #472
Tested. Confirmed working.

[2020-05-18 11:35] loorm commented on #468
Tested. Confirmed working.

[2020-05-18 11:38] loorm commented on #473
Tested. Confirmed working.

[2020-05-18 11:59] tiblu commented on #359
TODO:

- [x] Generic error messaging fix
- [x] Error message when delegating to self
- [ ] Error message when delegating to a user who has no access

[2020-05-18 15:40] oksks commented on #359
@tiblu may I please ask for screenshots for both new strings? I'm not sure how to reproduce the flow to get these :S

[2020-05-18 15:49] tiblu commented on #359
Done!

![image](https://user-images.githubusercontent.com/7405383/82233029-0b98c100-9938-11ea-8cf3-06c05f8115cc.png)
![image](https://user-images.githubusercontent.com/7405383/82233105-253a0880-9938-11ea-958a-5084da43052a.png)

[2020-05-18 15:49] #359 closed

[2020-05-18 15:51] oksks commented on #359
@tiblu Muchas gracias!!! <3

[2020-05-19 09:42] loorm opened #502 "No information about voting deadline passed"
**What is the problem?**
When voting deadline has passed, topic remains in "In voting" status.
It also show up in "In voting" topics under My Topics.
When you look at the "Vote" tab, you cannot vote, but there is no indication of the reason you cannot vote. (see screenshot)

The invisible reason is, that voting deadline has passed.
![Cannot_vote_in_voting](https://user-images.githubusercontent.com

[2020-05-19 09:43] loorm commented on #502
@kevincrepin This needs your input first, please.

[2020-05-19 09:45] loorm commented on #359
Tested. Confirmed.

[2020-05-19 09:46] loorm commented on #489
Assigned for Triage.

[2020-05-19 09:50] loorm commented on #299
A lively discussions for a closed issue :)

I think current solution (menu scrollling on it's own) is ok, since this case is relevant for very few users, AFAK.

I'd say - tested, confirmed the menu scrolls. Keep the issue closed.

[2020-05-19 09:56] loorm commented on #470
I would lean towards agree / disagree. We're not social media and "likes" have receive their fair amount of criticism. We're a decision-making app, therefore agree / disagree is much more context-relevant.

@kevincrepin - otherwise, are we ready for devs to implement this?

[2020-05-19 09:59] loorm commented on #496
Assigning for Triage.

[2020-05-19 10:02] loorm commented on #471
Tested. Confirmed working for English and a few other languages that I speak.

[2020-05-19 10:11] loorm commented on #235
Tested. Confirmed working.

@ilmartyrk - right now the form allows me to enter one e-mail address multiple times. It is also displayed in the list multiple times. I did not click "Send invites" to see what would happen, but would it then send out 3 invites to the same e-mail also?

[2020-05-19 10:11] loorm commented on #465
Tested. Confirmed.

[2020-05-19 10:13] loorm commented on #493
Assigning to Triage.

[2020-05-19 10:17] oksks opened #503 "Bug: Inline reply feature shows cubes instead of something else"
**What is the problem?**

There are several issues:

- When you've selected a part of the text in the topic and leave a reply, it's posted with a cube, which purpose I'm not sure of
- Cube's tooltip shows a sequence of random numbers when I hover, instead of helpful text
- Clicking on the cube opens an "edit" button (then why it isn't an edit button on the first click?), but I'm also not sure why

[2020-05-19 10:19] loorm commented on #469
Tested. Confirmed working.

[2020-05-19 10:21] loorm commented on #413
No. This appears as soon as you have voted. If you later (while voting is still open) decide to change your vote, you can download your updated vote. The container will indicate the date and time.

[2020-05-19 10:23] loorm commented on #413
Re-assigning for Triage.

[2020-05-19 10:26] loorm commented on #260
The issue was, sadly, never reported here on Github, therefore unable to test.

@oksks Please test and confirm if whatever the issue was has been fixed.

[2020-05-19 10:28] loorm commented on #167
Assigning to Triage.

[2020-05-19 10:31] loorm commented on #503
This is a duplicate issue.
Original issue is #467. It has been triaged and prioritized for development.

Closing #503.

[2020-05-19 10:31] #503 closed

[2020-05-19 10:37] loorm opened #504 "Etherpad language not always in sync with app UI language"
**What is the problem?**
Etherpad UI language sometimes goes out of sync with app UI language, esp. when switching languages. Could also include a window title language mismatch from both EP and UI language.

**Why is this a problem?**
Confusing for user.

**Possible solution.**
Ensure languages of the three elements always stay in sync.

However, having trouble pinpointing sequence of events lead

[2020-05-19 10:38] loorm commented on #504
This needs further investigation to describe exact conditions and make it replicable.

[2020-05-19 11:04] tiblu commented on #467
Done!

![image](https://user-images.githubusercontent.com/7405383/82319125-b614f080-99d9-11ea-9f6a-e09927ae04c4.png)

[2020-05-19 11:18] kevincrepin commented on #413
One issue is that with multiple choice voting when does it go to that screen? There is no CTA now that says "submit your vote" and then leads you to this screen. Currently it works ok, because there is no multiple choice voting and every vote can trigger a refresh, but it's also not very clear that you can still change your vote...

I would suggest the following:

1: https://projects.invisionapp.c

[2020-05-19 11:19] kevincrepin commented on #502
Somewhat related to https://github.com/citizenos/citizenos-fe/issues/413

But basically the UI should say that voting has ended: https://projects.invisionapp.com/d/main#/console/9829159/418246142/preview

We've had this in older screens as well: https://projects.invisionapp.com/d/main#/console/9829159/404592814/preview

[2020-05-19 11:24] oksks commented on #467
@tiblu, 2 questions:
1) Why do we allow editing someone else's reply btw - is that by design?
2) Why is the edit button hidden behind the 3 dots, instead of just displaying the edit button? Why is the extra click needed.. I understand if there were several options to choose from, but there's just one.

[2020-05-19 11:27] kevincrepin commented on #470
ready here: https://projects.invisionapp.com/d/main#/console/9829159/418248426/inspect

[2020-05-19 11:50] tiblu commented on #463
Done!
MAY need browser cache to be cleared in order to work.

![image](https://user-images.githubusercontent.com/7405383/82322978-0a22d380-99e0-11ea-8ffd-2c198ee37043.png)

[2020-05-19 11:50] #463 closed

[2020-05-19 11:58] tiblu commented on #315
This behaviour has been changed since https://github.com/citizenos/citizenos-fe/issues/315:

* When you post an argument/reply, after posting, you will land back on that argument/reply.
* When you post an argument, you are taken back to that argument, BUT we collapse all replies on the page.

@loorm Is that good enough or you still want the whole state, that is, replies kept expanded, that User ha

[2020-05-19 13:05] tiblu commented on #305
Done!

![Uploading image.png…]()

[2020-05-19 13:05] #305 closed

[2020-05-19 13:29] oksks commented on #260
@loorm Will gladly test - could you pls specify, which issue you refer to as never have been reported on Github? And what was fixed - what should I test exactly?

[2020-05-19 13:35] #100 closed

[2020-05-19 14:11] tiblu commented on #467
@oksks  I restored the state of the UI to reflect the design as I think it was before the icon got lost.
And I cannot comment on the other issues. Maybe @ilmartyrk  can shed some light.

My thoughts tho:

Yeah, that is weird. Should not be allowed.

Yeah, not consistent with the rest of the UX. I tried to find designs for the feature in Invision, but I did not find any. Maybe @ilmartyrk can commen

[2020-05-19 15:35] anettlinno opened #505 "Syncing Etherpad author list with Citizen OS topic author list"
**What is the user story?**
User wants to add more authors on the topic.
![Screenshot 2020-05-19 at 14 22 30](https://user-images.githubusercontent.com/45175679/82346603-56314080-99ff-11ea-8576-247dad909e9e.png)

**What is the requested feature?**
There could be an opportunity to add more people as topic authors.

**Additional information.**
N/A

[2020-05-20 06:46] loorm commented on #413
Whatever you decide is more suitable, @kevincrepin. Just please make sure, that we have a consistent user experience across all voting methods (regular / custom / multiple choise, secure and social id, delegated and direct etc).

[2020-05-20 06:47] loorm commented on #502
Assigning for Triage.

[2020-05-20 06:51] loorm commented on #463
Tested. Confirmed working.

[2020-05-20 06:57] loorm commented on #315
@tiblu Sry, please clarify. If I am reading this reply to an argument https://app.citizenos.com/en/topics/ac46ba58-bcb6-468b-9c51-961890d00b90?commentId=dd334984-f919-4a7c-8c73-2a39d03fee22_v0&argumentsPage=8

And I want to reply to the reply. I write my stuff, press Enter. Then what happens on my screen?

[2020-05-20 07:13] loorm commented on #305
Tested. Confirmed working. Looks great!

[2020-05-20 07:15] loorm commented on #260
@oksks Pls look at comment by @tiblu from May 13. He writes about some problem of translation. The problem itself is not clear, therefore I don't know what you discussed or what should be tested to see, if it was fixed.

[2020-05-20 07:18] loorm commented on #467
@kevincrepin UX discussion here. Please have a look.

[2020-05-20 07:19] loorm commented on #505
Assigning for Triage.

[2020-05-20 09:05] oksks commented on #260
@tiblu - I'm afraid the exact problem isn't clear from the description and thus I'm not sure how I can test it - pls advise steps to verify, or maybe test yourself as you've reported it?

[2020-05-20 09:33] kevincrepin commented on #413
@loorm @tiblu

Bigger things popped up when dealing with the delegation flow. Please check below.

Worked out additional flows, including how to show delegation. Also made minor adjustment on how to show which type of voting system you have selected.

Create voting system - custom:
https://projects.invisionapp.com/d/main#/console/9829159/414654327/preview
Cast your vote:
https://projects.invisiona

[2020-05-20 10:46] kevincrepin commented on #467
Initially it was an arrow to indicate a dropdown menu. Not sure when it was turned into the kebab icon, maybe because of Etherpad :)

In any case, in our arguments section we have done some minor updates as to how we show all of this data, so I now also put these in the same line. There's an action menu that (can) open up edit, delete, report, probably not share?

https://projects.invisionapp.com/

[2020-05-20 10:55] tiblu commented on #315
When you press Enter, it will enter a new line in the text box.
If you press "Post reply", it will post the reply and take you to that reply on the screen.
Try it out.

[2020-05-20 12:04] loorm commented on #413
There's more things in these design images, than the scope of this issue. It needs to be split into separate issues (like delegation indication). Will work on it.

**Responses to @kevincrepin**
1. Yes, you can. No obligation.
2. Legally, without getting too technical, there's two main types of delegation.
- "do exactly what I ask"
- "make whatever decision you think is best"

The first kind is not

[2020-05-20 12:10] loorm commented on #467
@tiblu Kevin specified the design. Re-opening the issue.

[2020-05-20 12:14] loorm commented on #315
@tiblu Tested. Confirmed. This is good. Closing issue.

[2020-05-20 12:14] #315 closed

[2020-05-21 08:01] loorm commented on #436
Tested. Confirmed working.

[2020-05-21 08:10] loorm commented on #398
This appears half-done. Assigning for Triage.

[2020-05-21 08:17] loorm commented on #238
Valid points. Perhaps we need both:
- categories as shared, public sorting criteria
- tags as personal, user-specific (as in everyone has their own tags) sorting criteria

Need to create a better user story for this.

[2020-05-21 08:27] loorm commented on #254
@tiblu Can you please update the status of this issue?

[2020-05-21 10:49] KatiVellak commented on #457
@tiblu @loorm  From all the information I was able to retrieve, it does seem that Plausible does not use cookies nor collect any personal data, thus we are not required to display a cookie notice by using Plausible analytics.
The reason being that by not using cookies you do not need to obtain consent from the visitors to store and retrieve data from their devices.
Hence, I can verify that to my k

[2020-05-21 18:32] loorm commented on #457
We have the legal opinion. Moving issue back to Triage.

[2020-05-21 18:37] loorm commented on #464
Also related to https://github.com/citizenos/citizenos-api/issues/5#issuecomment-500161340

[2020-05-21 18:37] loorm commented on #464
@kativellak can you take a look at the question above, please?

[2020-05-21 18:40] loorm commented on #264
Tested. Confirmed working.

[2020-05-21 18:42] loorm commented on #262
Tested. Confirmed working.

[2020-05-21 18:45] loorm commented on #261
Tested. Confirmed working.

[2020-05-21 18:49] loorm commented on #246
Tested. Confirmed working.

[2020-05-21 18:50] loorm commented on #212
Tested. Confirmed working.

[2020-05-21 18:51] loorm commented on #272
Tested. Confirmed working.

[2020-05-21 18:53] loorm commented on #179
Tested. Confirmed working.

[2020-05-21 18:53] loorm commented on #178
Tested. Confirmed working.

[2020-05-21 18:54] loorm commented on #227
Tested. Confirmed working.

[2020-05-21 18:54] loorm commented on #280
Tested. Confirmed working.

[2020-05-21 19:00] loorm commented on #245
Confirm fully fixed. No confusing error messages any more.

[2020-05-21 19:02] loorm commented on #326
Tested. Confirm fully fixed. No confusing error messages any longer.

[2020-05-21 19:05] loorm commented on #300
Tested. Confirmed working.

[2020-05-21 19:20] loorm opened #507 "Change our date format"
**What is the user story?**
As a user, I want to clearly and quickly understand dates. Right now, dates are in the strange US mm/dd/yyyy format across the system.
![us_dates](https://user-images.githubusercontent.com/22661743/82597163-380b4200-9bb1-11ea-9314-ad6c9a266101.jpg)

**What is the requested feature?**
Either make the date format follow the geo-IP or change it to international date format

[2020-05-21 19:24] loorm commented on #265
@ilmartyrk The track changes button still has a generic tooltip text "Toolbar". Can you fix that as well, please?

[2020-05-21 19:41] oksks opened #508 "Activity feed shows incorrect activity - title update"
**What is the problem?**

- AF shows that I have updated a field "title" in a topic, while I certainly haven't done that. Seems like it happens to other users as well - I don't think each of us updated the title in the last 24h.
Maybe, just maybe, this activity is triggered by leaving an inline reply, as this activity didn't show up in AF separately.

<img width="766" alt="Screenshot 2020-05-21 at

[2020-05-21 19:55] oksks commented on #507
Date and time format should always be taken from user's locale. Not sure why it's hardcoded in our case.

[2020-05-22 06:35] loorm commented on #508
Replicated. Assigning for Triage.

[2020-05-22 11:34] KatiVellak commented on #469
Legally reviewed, no impact.

[2020-05-22 11:35] KatiVellak commented on #472
Legally reviewed, no impact.

[2020-05-22 11:40] KatiVellak commented on #470
I agree with Margo on "I would lean towards agree / disagree. We're not social media and "likes" have receive their fair amount of criticism. We're a decision-making app, therefore agree / disagree is much more context-relevant."
Otherwise, no further comments, legally reviewed.

[2020-05-22 11:42] KatiVellak commented on #471
Legally reviewed, no impact.

[2020-05-22 11:44] KatiVellak commented on #473
Legally reviewed, no further comments.

[2020-05-22 11:50] KatiVellak commented on #413
Legally reviewed, no further comments.

[2020-05-22 11:55] KatiVellak commented on #467
Editing someone else's reply should not be allowed. Has this been fixed?

[2020-05-22 11:56] KatiVellak commented on #466
Legally reviewed, no impact.

[2020-05-22 12:03] KatiVellak commented on #464
@tiblu @loorm can we have a short call on this, please?

[2020-05-22 12:13] KatiVellak commented on #444
Legally reviewed, no comments.

[2020-05-22 12:14] KatiVellak commented on #463
Legally reviewed, no impact.

[2020-05-22 12:16] KatiVellak commented on #459
Legally reviewed, no impact.

[2020-05-22 12:18] KatiVellak commented on #437
Legally reviewed, no impact.

[2020-05-22 12:18] KatiVellak commented on #468
Legally reviewed, no impact.

[2020-05-22 12:49] KatiVellak commented on #381
@moll @oksks @tiblu
EDPB guidelines are in line with the decision of the Court of Justice of the European Union in the case of Planet 49 and recent EU data protection authorities’ guidelines (AEPD (Spanish data protection authority) Guide on the Use of Cookies, CNIL (French DPA) new guidelines on cookies and other online trackers, DSK (German Data Protection Conference) guidelines, ICO (UK´s Infor

[2020-05-22 13:35] moll commented on #381
Thanks for the input!

As a reminder to myself, there are two different cookie forms involved on CitizenOS's sites — the cookie banner on https://citizenos.com and the modal dialog (what I'd still call a "wall") on https://app.citizenos.com/en.

Given that necessary cookies are set implicitly (and some even before the cookie form is shown), I'd say the term "agree to necessary cookies" isn't reall

[2020-05-25 08:22] loorm commented on #502
@kevincrepin Can you check the first link of the two above, please. It gives an error message.

Triage 22. Est dev hours 2. Prioritizing.

[2020-05-25 08:24] kevincrepin commented on #502
New reference links:
https://projects.invisionapp.com/d/main#/console/9829159/418412299/preview
https://projects.invisionapp.com/d/main#/console/9829159/418412303/preview
https://projects.invisionapp.com/d/main#/console/9829159/418424724/preview

[2020-05-25 08:25] loorm commented on #489
Triage 22. Est dev time 2-4 hours. Prioritizing.

[2020-05-25 08:28] loorm commented on #496
Triage 22. Est dev time 2 hours. Prioritizing.

[2020-05-25 08:40] loorm commented on #493
Triage 22. Could not reproduce. Followed the instructions point by point.

[2020-05-25 08:40] #493 closed

[2020-05-25 08:57] loorm commented on #413
Triage 22. There is questions about necessity of a separate vote_submitted view. Otherwise, it's ready for dev. API side is ready and tested. UX needs to be done. Est dev time 40 hours.

[2020-05-25 09:04] tiblu commented on #167
Pro of having it in the app is that the help is in sync with version deployed. That is, if there is a self-hosted instance, that help will apply to the version installed. IF we link to Citizsen OS site, that MAY have newer version of what the on-premise has.
Con is that it takes developer resource to maintain and deploy.

[2020-05-25 09:10] loorm commented on #167
Triage 22. This needs to be decided in the larger context of Citizen OS Customer Support. Whether to have help in app (requires dev hours to maintain form) or out of app (on website or in a separate environment).

[2020-05-25 09:24] tiblu commented on #505
Triage 22.

We have 2 options:

1. We pull the author info using EP API from Etherpad on each Topic load. Etherpad API only returns author ID-s, not names, thus we need to implement that API and then use it.
2. We PUSH the author info to Citizen OS DB from Etherpad when new author adds content. Probably not feasible to do on "onEdit" event, but "leavePad" or similar, which does not run on every ed

[2020-05-25 09:30] loorm commented on #505
Est dev time 40 hours. Prioritizing.

[2020-05-25 09:38] loorm commented on #467
Triage 22. Est dev time 4 hours. Prioritizing.

[2020-05-25 09:42] loorm commented on #398
Triage 22. Scope is highlighting mini-voting areas in green and implementing the green icon on the right for mini-voted areas.

[2020-05-25 09:46] tiblu commented on #457
If we want Plausible, we must:

* Verify that marketing gets the data they need, see comment https://github.com/citizenos/citizenos-fe/issues/457#issuecomment-617130795
* Are we OK to pay for it?

[2020-05-25 10:12] loorm commented on #508
Triage 22. Needs further investigation. Authors button and timeline view show different authors. Scrolling on timeline triggers title change event.

Discovered, that timeline view and authors in EP have different authors lists. Timeline view authors show only authors of the most recent version. Authors view includes everyone, incl people who have minivoted but have not contributed any text.

This

[2020-05-25 10:41] loorm opened #509 "Allow voting with social ID without logging in"
**What is the user story?**
I want to enable users to vote using social ID, without having to log into the topic. With eID this is possible right now, with social ID it is not possible.

**What is the requested feature?**
Enable voting with social ID without logging in.

**Additional information.**
N/A

[2020-05-25 11:30] KatiVellak commented on #496
Legally reviewed, no impact.

[2020-05-25 11:32] KatiVellak commented on #489
Legally reviewed, no impact.

[2020-05-25 11:33] KatiVellak commented on #508
Legally reviewed, no impact.

[2020-05-25 11:42] KatiVellak commented on #505
Legally reviewed, no impact.

[2020-05-25 11:43] KatiVellak commented on #502
Legally reviewed, no impact.

[2020-05-25 11:46] KatiVellak commented on #398
Legally reviewed, no impact.

[2020-05-25 11:49] KatiVellak commented on #493
Legally reviewed, no impact.

[2020-05-25 11:58] KatiVellak commented on #167
Legally reviewed, no impact.

[2020-05-25 12:52] loorm commented on #166
linked to #420

[2020-05-25 13:06] liinaguiter commented on #166
Re: possible solution: social media share button is nice to have, but not necessary or urgent.

When sharing the link on social media, the title has to show. This should be changed ASAP. Remove COS logo as well please. No need for our logo.

Better, if we have a few sentences of the topic in the preview as well.

Bonus, if we can display an image that is in the topic. = )

[2020-05-25 13:41] tiblu commented on #166
@KatiVellak what do you think?

[2020-05-25 14:19] anettlinno opened #510 ""Download signed file" when social media voting"
**What is the problem?**
when using social media log-in, in voting section the document download link says "Download **signed** files"
![Allkirjadega fail](https://user-images.githubusercontent.com/45175679/82820369-b36b3d00-9eaa-11ea-925d-6fdfa83ef88f.png)

**Why is this a problem?**
This is social media log-in and votes are not signed. It is misleading and incorrect to use the word "signed".

**

[2020-05-25 15:15] tiblu commented on #166
![image](https://user-images.githubusercontent.com/7405383/82825290-a4d55380-9eb3-11ea-99d9-e99ca3ab04a5.png)

[2020-05-25 19:41] loorm opened #511 "Separate Settings from Actions in Topic view"
**What is the user story?**
Menu items are scattered among "Options" menu on the right and "Settings" menu in modal.

**What is the requested feature?**
Instead, the right-hand menu should be called "Actions" and shoudl contain actions. And modal should be for settings only.

**Additional information.**
N/A

[2020-05-26 07:45] loorm commented on #166
@kativellak "We had a talk with Kati, she said that share "widgets" are legally complicated. Don't remember exactly what, but I would take Katis input on this before we do it." This was by @tiblu

[2020-05-26 10:26] loorm commented on #306
Linked to #420 and #166

[2020-05-26 10:32] loorm commented on #422
Related to https://github.com/citizenos/citizenos-api/issues/164

[2020-05-26 10:37] loorm commented on #306
This is a duplicate of #166. Closing.

[2020-05-26 10:37] #306 closed

[2020-05-26 10:41] loorm commented on #166
Two different issues bundled up as one. I'm separating the "social media share BUTTON" issue into a separate issue. Leaving only the part about showing topic content in shares.

[2020-05-26 10:44] loorm opened #512 "Create a social media share button for public Citizen OS content"
**What is the user story?**
I want to share my topics, discussions and votes in social media (FB, Twitter, LinkedIn, Slack etc), because that's where the people are, that I want to join in.

**What is the requested feature?**
The only way of sharing a topic on social media right now is to copy-paste the URL.  Perhaps use some standard social media share button tool or library (like https://www.sha

[2020-05-26 10:46] loorm commented on #512
@kevincrepin This needs your input, please.

[2020-05-26 10:47] loorm commented on #512
@KatiVellak "We had a talk with Kati, she said that share "widgets" are legally complicated. Don't remember exactly what, but I would take Katis input on this before we do it." This was by @tiblu

[2020-05-26 10:49] loorm commented on #166
There was a separate proposal in Slack by @anettlinno, that if the topic has an image, this image should be used in the preview instead of our logo. When there are no images, our logo looks beautiful.

[2020-05-26 11:20] loorm opened #513 "When voting is active, open "Vote" tab by default"
**What is the user story?**
As a user, I want to get to voting with as few clicks as possible. Currently, when I go to topic that is "In voting" I land on "View" tab and have to find and click on "Vote" tab myself. This is unnecessary, because the "Vote" tab already contains an HTML version of the topic text, anyway.

**Which feature needs to be updated and how?**
Make the latest tab default, not

[2020-05-26 11:21] tiblu commented on #420
Done!

* Slack -
![image](https://user-images.githubusercontent.com/7405383/82894317-14524e00-9f5b-11ea-938c-b2e83cee5211.png)
* Facebook -
![image](https://user-images.githubusercontent.com/7405383/82894698-aa867400-9f5b-11ea-897c-e5f59f441fed.png)
* Skype -
![image](https://user-images.githubusercontent.com/7405383/82894796-d570c800-9f5b-11ea-9a6d-bd0ca7a5a709.png)

[2020-05-26 11:22] loorm commented on #286
@kevincrepin This needs your input, please. HTML formatting for comments. The toolbar views etc.

@ilmartyrk Any plugins, that Etherpad already has for this? Perhaps they already come with some design / layout?

[2020-05-26 11:24] tiblu commented on #259
Duplicate of https://github.com/citizenos/citizenos-fe/issues/420.
Fixed: https://github.com/citizenos/citizenos-fe/issues/420#issuecomment-633964786

[2020-05-26 11:24] #259 closed

[2020-05-26 11:26] tiblu commented on #166
Interesting, FB share preview tester picks up image from the content, others like Slack and Skype don't.

* Slack -
![image](https://user-images.githubusercontent.com/7405383/82894317-14524e00-9f5b-11ea-938c-b2e83cee5211.png)
* Facebook -
![image](https://user-images.githubusercontent.com/7405383/82894698-aa867400-9f5b-11ea-897c-e5f59f441fed.png)
* Skype -
![image](https://user-images.githubuserco

[2020-05-26 11:26] loorm commented on #464
Sent a calendar invite to both of you.

[2020-05-26 11:31] loorm commented on #418
This seems to be working fine in newer versions of Etherpad. Closing issue.

[2020-05-26 11:31] #418 closed

[2020-05-26 11:58] loorm commented on #444
@kevincrepin Can you please create a generic visual for "No topics found." that we could usr whenever someone chooses a category, where they have no topics? Right now, we are using the initial page that new users get and I agree, it's slightly misleading.

[2020-05-26 12:02] loorm opened #514 "Display your (delegated) vote in voting results"
**What is the user story?**
As a user, I want to be able to see in voting results, how I voted on this issue. There may be quite a bit of time between my vote casting and the end of voting. I may not remember how I voted.

**Which feature needs to be updated and how?**
Indicate your (delegated) vote in voting results view. Kevin has already created views for this.
https://projects.invisionapp.com/

[2020-05-26 12:16] loorm commented on #510
Replicated. Assigned for Triage 23 on June 8.

[2020-05-26 12:18] tiblu commented on #166
Done!

* Facebook -
![image](https://user-images.githubusercontent.com/7405383/82899645-005f1a00-9f64-11ea-821c-715733fe17b0.png)
* Skype -
![image](https://user-images.githubusercontent.com/7405383/82899609-f3dac180-9f63-11ea-9660-9a9d4b8b32b7.png)
* Slack -
![image](https://user-images.githubusercontent.com/7405383/82899731-22f13300-9f64-11ea-83a2-8770330dacdc.png)

[2020-05-26 12:18] #166 closed

[2020-05-26 12:22] tiblu commented on #420
Updated image previews as part of #166 - now taking first image from the topic, if there is none, it will show Citizen OS logo - https://github.com/citizenos/citizenos-fe/issues/166#issuecomment-633989073

[2020-05-26 12:25] loorm commented on #420
Tested.

Facebook - not working (see image)
LinkedIn - OK
Skype - OK

![Capture_rec_reg](https://user-images.githubusercontent.com/22661743/82900352-11f4f180-9f65-11ea-8f5c-674e58e9ef63.JPG)

[2020-05-26 14:07] tiblu commented on #420
@loorm I think it's an issue with the new FB redesign, if you switch back to classic mode, the previews look fine -
![image](https://user-images.githubusercontent.com/7405383/82910250-145e4800-9f73-11ea-8476-8fccecbfbe6d.png)
Also their preview testing app looks fine - https://developers.facebook.com/tools/debug/?q=https%3A%2F%2Fapp.citizenos.com%2Fet%2Ftopics%2F6455dc68-ed64-4209-8b28-9b29a41728f

[2020-05-26 14:07] #420 closed

[2020-05-27 06:52] tiblu commented on #420
Also, FB docs say that images are processed async, thus image preview is delayed and usually does not show on first post of the link.
FB re-scrapes all previews every 24h.
Also, had an instandce today where FB new layout was showing OK for a link posted:
![image](https://user-images.githubusercontent.com/7405383/82987165-c8a5b000-9fff-11ea-841d-6d9bac656cf4.png)

Sources:

* https://developers.fac

[2020-05-27 07:51] tiblu commented on #467
TODO:

- [ ] Drop down menu
- [ ] Disable editing someone elses reply IF it is possible

[2020-05-27 09:09] ilmartyrk commented on #437
Just for info:
When just typing without etherpad counts line by characters in one p. That means visually for user it could be 3 lines of text, but inside html it is one block. Still it does some magic to understand if text is visually too on different lines. I traced it down to `etherpad-lite/src/static/js/ace2_inner.js` in `getLineAndCharForPoint` is the place where it shows the position of carre

[2020-05-27 09:11] loorm opened #515 "A few tooltips are not translated"
**What is the problem?**
A few tooltips are not translated. I tried to switch from English to Estonian to Finnish. Two tooltips remaind in English for both languages. Finnish translation is at a 100% in CrowdIn.

1. "Pin topic" tooltip
2. "Font size" tooltip

**Why is this a problem?**
Language inconsistency.

**Possible solution.**
Insert translation keys.

[2020-05-27 09:14] loorm commented on #504
Unable to recreate issue and describe replicable conditions. Closing.

[2020-05-27 09:15] loorm commented on #293
@tiblu What do we need for this? A design from Kev?

[2020-05-27 09:31] loorm commented on #360
This is a rare use case, that our help documentation and customer support can address. There is no good user flow for this. It actually makes sense, that you cannot access the topic via the link before accepting the invite, because the app does not know, who is clicking the link and whether they have a pending invite or not.

Perhaps, we can help the user by creating a custom "Permission denied" p

[2020-05-27 09:33] loorm commented on #153
Merging this into our public groups user story. Closing this issue.

[2020-05-27 09:33] #153 closed

[2020-05-27 09:37] loorm commented on #219
This has been implemented. Closing the issue.

[2020-05-27 09:37] #219 closed

[2020-05-27 09:46] loorm commented on #162
@ilmartyrk Could we do this, even in principle. Topic titles and content are entered in Etherpad. Is there any way that we can monitor in real time what the user is typing in Etherpad, compare it to topic titles of other public topics and suggest existing public topics in real time.

BTW, we would need to do this for all topics (private and public), because topics are private by default.  Users on

[2020-05-27 10:32] ilmartyrk commented on #437
Seems to be related to this https://github.com/ether/etherpad-lite/issues/3087 as same thing is happening on our pad too. Last charater of a line is skipped when using arrow keys

[2020-05-27 10:34] loorm commented on #232
Duplicate of #467. Closing.

[2020-05-27 10:35] #232 closed

[2020-05-27 10:47] loorm commented on #230
User story: as a user or a group admin, for groups with a larger number of topics, I want to be able to sort topics based on:
- status (in progress, in voting, in follow-up, closed);
- attention (pinned, non-pinned);
- last activity (latest, oldest).

This could be done either in the topic list on the left or the topic list on the right (which kind of duplicate each other). Where and how should we

[2020-05-27 11:11] tiblu commented on #467
Depends on https://github.com/citizenos/citizenos-fe/issues/466

After looking into it this there is no point of doing it before #466 is done.

THEN we either:

1. Try to sync our fork with latest https://github.com/ether/ep_comments and apply new menu visuals.
2. Make a clean fork of https://github.com/ether/ep_comments and re-do the whole visual design on top.

Either way, I feel like if I imple

[2020-05-27 11:14] kevincrepin commented on #512
@loorm A while back we made this: https://projects.invisionapp.com/d/main#/console/9829159/404592933/preview

Of course it's still hidden under the share menu item:
<img width="337" alt="Screenshot 2020-05-27 at 13 40 53" src="https://user-images.githubusercontent.com/26792281/83009671-c3585d80-a01f-11ea-82c1-054cb7cb2e93.png">

So question is whether it has enough visibility like this or should w

[2020-05-27 11:22] tiblu commented on #467
Created an issue to upstream on the comment/reply authorization issue - https://github.com/ether/ep_comments/issues/125

[2020-05-27 11:23] loorm commented on #237
@kevincrepin So **the goal is, both on desktop as in mobile, to get from topic list to edit mode in one click.** Right now it takes two (assuming logged in and in My Topics view: click on topic name on the left, click on "Edit" on the right) or three (topic name on the left, topic name on the right, "Edit topic" in Options on the right).

Any ideas?

The best that I can come up with is a paper and

[2020-05-27 11:44] loorm commented on #464
Had a meeting. Decision for topics, that have been reported AND where moderator has decided, that restricting access is justified.

Search results - do not show restricted topics.
Home page (public topics view) - hide from default view. Add filter to home page for showing restricted topics.
Topics list view (every users' own) - hide from default view. Add filter for showing restricted topics.

[2020-05-27 12:03] loorm commented on #512
From meeting with @kativellak:
Share buttons load scripts from social media pages. These scripts are out of our control and may access more confidential user data, than we would like them to have access to.  Therefore, not adivsable to use social media share buttons simply on the page.

@tiblu will think about better solutions, like poppiing up a separate window and showing share buttons there. Th

[2020-05-27 12:11] kevincrepin commented on #286
I think the basic formatting – bold, italic, underline, strikethrough and lists – should be enough, but if there's some other specific thing let me know.

Tried to make it look similar to Etherpad so we don't have some big break between these similar components: https://projects.invisionapp.com/d/main#/console/9829159/418248426/preview

[2020-05-27 12:28] tiblu commented on #512
My 10 cents on this:

* IF we the widget loads a 3rd party script from their domain, we have no control over what info it gathers from the site in the future.
* We COULD make a local copy of the script, code review it to guarantee it never changes BUT as Google Picker script has shown, if Google changes their API, our functionality breaks.
* I think to control the data the widgets have access we c

[2020-05-27 12:36] tiblu commented on #360
@loorm I think this error message is a good idea.

* Implementing this extra message for topic pages is quite simple - 2hrs.
* In addition to first, implementing a solution, where IF you are logged in AND get a permission error AND have a pending invite you would be redirected to accept the invite - 4hrs.

That is 6hrs in total if we do both.

[2020-05-27 12:39] tiblu commented on #293
@loorm

We need:

* Twitter account - CitizenOSStatus or CitizenOSDev or CitizenOSHeartbeat or...
* Agree on the exact information we want to display.
* Designs from Kevin.

[2020-05-27 12:42] loorm commented on #504
Got new content on this. Happened on Chrome. It seems to be happening, when there has been some pause in using. Like the session cookie "forgets" which language to use for which component. After language change and/or login-logout, it works normally.

Also, new thing is the window title language mismatch.

<img width="1439" alt="Screenshot 2020-05-27 at 14 53 48" src="https://user-images.githubuse

[2020-05-27 12:58] tiblu commented on #254
@loorm

I agree and propose:

* IF User has already accepted the invite, we SHOULD NOT re-send.
* IF User has already accepted the invite, BUT with fewer permissions (ex: has read, but invite would be admin), upgrade permissions BUT NOT re-send e-mail.
* IF User has NOT accepted the invite, we SHOULD re-send invite, cause the User MAY have missed the previous one.

IF you agree with the solution,

[2020-05-27 13:11] tiblu commented on #260
This happens if you view a Topic member list which has a Group member AND the viewing User does not have access to that Group.

Reproduce:

* As User A, invite User B to a Topic as admin
* As User B invite a Group with members (User C, User D...) to the Topic.

Result:

* User A got the bug mentioned above, as he/she has no access to the Group and SHOULD NOT see group name under the member names (

[2020-05-27 13:17] kevincrepin commented on #444
In dashboard: https://projects.invisionapp.com/d/main#/console/9829159/419277028/preview
Let's also update the other empty states then, for example:
https://projects.invisionapp.com/d/main#/console/9829159/419278099/preview

[2020-05-27 13:20] tiblu commented on #235
@loorm @ilmartyrk

I tried to send invites to already existing user e-mails and got an error, no invites sent:

[code]

Data I entered contained multiple times the same 2 emails.

[2020-05-27 13:30] tiblu commented on #394
Not sure where the limit is and where the problems would start for the most of the users. IT does depend on the power of your machine.
Should I do some measurement and play around? IT's probably a good 4 hours of work to figure out how to reliably measure page performance and get numbers that are somewhat reliable.
Still, these numbers would apply to the machine I have, not sure how they would cha

[2020-05-27 13:43] tiblu commented on #248
Yes. IF User does not have "admin" permissions, no download link with the token is returned from the API.

Source: https://github.com/citizenos/citizenos-api/blob/master/routes/api/topic.js#L5727

[2020-05-27 13:50] tiblu commented on #286
Idea looks good, but implementation MAY need to change - similar to Etherpad is a good idea, but in this case looks kinda out of context or different.

Note - I suggest that in the background we still implement it by supporting MD, like GH does.

[2020-05-27 14:07] tiblu commented on #444
@loorm  Looks good to me, can be taken to triage.

[2020-05-27 14:16] loorm commented on #143
@ilmartyrk is this issue a duplicate of #293?

[2020-05-27 14:18] loorm commented on #160
A duplicate of #502. Closing.

[2020-05-27 14:18] #160 closed

[2020-05-27 14:19] tiblu commented on #467
@loorm @KatiVellak  Unfortunately this is "by design", that is, this has never been a concern to other users - https://github.com/ether/ep_comments/issues/125#issuecomment-634688488

Which means, if we want this, we probably have to implement this. NO ETA, have to dig in deep.

[2020-05-27 14:22] loorm commented on #226
@kevincrepin You had a linked view here https://github.com/citizenos/citizenos-fe/issues/209, but the link has expired. Can you post an updated link here, please.

[2020-05-27 14:22] #209 closed

[2020-05-27 14:22] tiblu commented on #361
@loorm Does this look good to you? IF so, I think we can take it to triage.

[2020-05-27 14:32] tiblu commented on #466
@ilmartyrk Maybe checklist upgrading 1.8 is of https://github.com/citizenos/citizenos-api/issues/154 is of help.

[2020-05-27 20:12] ilmartyrk commented on #437
https://github.com/ether/etherpad-lite/pull/3831 Fixes the issue

[2020-05-28 07:15] loorm commented on #233
@kevincrepin Can you update the link, please, so we can push this into development.

[2020-05-28 07:16] kevincrepin commented on #233
Sorry: https://projects.invisionapp.com/d/main#/console/9829159/404592935/preview

[2020-05-28 07:18] loorm commented on #228
@kevincrepin Update the link, please.

[2020-05-28 07:18] kevincrepin commented on #226
I think this was related to labels? https://projects.invisionapp.com/d/main#/console/9829159/404592997/preview

[2020-05-28 07:19] kevincrepin commented on #228
references:
https://projects.invisionapp.com/d/main#/console/9829159/404592935/preview
https://projects.invisionapp.com/d/main#/console/9829159/404592934/preview
https://projects.invisionapp.com/d/main#/console/9829159/404592933/preview

[2020-05-28 07:25] loorm opened #516 "Optimize screen resource use in edit mode"
**What is the user story?**
On a normal laptop screen, when editing a topic, I should not have so much "extra" information on screen. Screenshot attached. The editable area is at the very bottom of the screen.

![Capture_screen_use](https://user-images.githubusercontent.com/22661743/83111643-9d899200-a0cd-11ea-9c5e-605a5271fcb8.JPG)

**Which feature needs to be updated and how?**
I'm not sure. We

[2020-05-28 07:30] loorm commented on #516
Just throwing some ideas out here:

- get rid of the middle sentence in the blue info box. It's kind of obvious, that in edit mode you can edit text.
- hide the "Categories-authors-discussion" bit in edit mode (keep there in topic view, though)
- bring everything else closer together, it's all very vertically spaced out right now. However, don't want it to feel cramped, so need some deisgner magic

[2020-05-28 07:35] loorm commented on #254
@tiblu I agree. Assigning to Triage.

[2020-05-28 07:45] loorm commented on #301
Assigning for Triage 23 on June 8.

[2020-05-28 07:52] loorm commented on #316
Yes. Assigning for Triage 23 on June 8.

[2020-05-28 07:55] loorm commented on #457
Asking Liina (marketing) to take a look at Q1 above. Once we info on this, move to Q2.

[2020-05-28 08:03] loorm commented on #307
Possibly this is solved by (public) groups.

[2020-05-28 08:05] loorm commented on #314
This actually does not play ball with our ideas of democracy and transparency. Even if no-votes are legally irrelevant, they still serve as an indication to the author of the vote. Therefore, keeping both yes and no is more consistent with our vision of e-democracy. Closing this issue.

[2020-05-28 08:05] #314 closed

[2020-05-28 08:10] loorm commented on #313
Duplicate of #512. Closing.

[2020-05-28 08:10] #313 closed

[2020-05-28 08:11] loorm commented on #512
@tiblu Check out ERR social share pop-up attached to #313. Possibly done as a pop-up for the same reasons. Perhaps we can learn from their implementation.

[2020-05-28 08:18] loorm commented on #228
These still have horizontal tab headings and settings in pop-up dialogs. Does it mean we're not going to go with these vertically stacked "tabs" that you have in the attached image above?

[2020-05-28 08:21] loorm commented on #312
@ilmartyrk Is there a way to prevent the user from closing the settings dialog, when they have unsaved changes? This would protect against unintentionally closing the dialog, too.

[2020-05-28 08:25] kevincrepin commented on #228
I thought that taking all of these settings out of dialogs was out of scope? Hence my "A possible solution as long as we don't ditch these dialog windows within the context." in my original reply.
If we can take tabs out of dialogs, then let's do it yes, but I have to review the existing dialogs then. Let me know if it's ok :)

[2020-05-28 08:25] loorm commented on #325
Move forward with this, once #311 is done.

[2020-05-28 08:29] loorm commented on #317
We need user consent, to be able to send them anything. Right now, we have not asked for this. So we cannot implement this. This is a part of a larger e-mail notification feature pack.

[2020-05-28 08:35] loorm commented on #329
Actually, the name of this probably would need to be "question / info". This is a longer discussion, but let's get going. We need this, because natural human discussion does not only contain pro and con arguments, it also has questions, answers and neutral background information or comments. We need to account for this, but bringing in a new category will create system-wide implications, of course

[2020-05-28 08:37] loorm commented on #318
@kevincrepin Can we get some updated view links on this, please? We actually already have account termination API flow and I know you have the visuals. So finishing this should be quite rapid.

[2020-05-28 08:47] loorm commented on #338
This has been implemented, though slightly differently. User can now see "pending invites" in Topic user list.  Closing issue.

[2020-05-28 08:47] #338 closed

[2020-05-28 08:50] loorm commented on #405
Linked to #311

[2020-05-28 08:53] loorm commented on #416
- Create a new topic
- Copy topic content (including images)
- Copy attachments
-

[2020-05-28 08:56] kevincrepin commented on #318
The account dialog: https://projects.invisionapp.com/d/main#/console/9829159/404592934/preview

confirmation dialog should be similar to delete topic (top right), with different copy: https://projects.invisionapp.com/d/main#/console/9829159/418066154/preview

[2020-05-28 09:07] loorm opened #517 "Make comments visible in "View" mode"
**What is the user story?**
As a user with view rights, I still want to be able to see comments. Right now, comments are visible in "Edit" mode only. This also means, that once topic is "in voting", comments are no longer visible.

**Which feature needs to be updated and how?**
Make comments visible in "View" mode.

**Additional information.**
N/A

[2020-05-28 09:08] loorm commented on #517
@ilmartyrk This needs some thinking from your side on if and how could this be done?

[2020-05-28 09:13] loorm commented on #361
"Actions" menu looks good.

@kevincrepin I think for an argument link, the dialog window with many options is too excessive. But we do need some feedback to the use. Perhaps a blue info ribbon at the top of the screen saying "argument link was copied to clipboard, use Paste" or something along these lines?

[2020-05-28 09:15] loorm commented on #416
@kevincrepin We need to put the "Copy content" link somewhere. Likely place is "Options" box.

[2020-05-28 09:32] loorm commented on #293
1. The Twitter feed we have https://twitter.com/CitizenOSStatus. We're not actively using it, but it's there.
2. @tiblu Did you mean information we want to display on the 500 page or in the feed?
3. @kevincrepin

In terms of the info on it, I would say:
- information, that a server error has occured
- an apology
- link to our technical twitter feed
- customer support contact to notify us or ask us

[2020-05-28 09:34] loorm commented on #260
@oksks Can you please recreate from the above steps and verify, that fix is working?

[2020-05-28 09:40] loorm commented on #235
@tiblu Can you be more specific in terms of the flow. I tried multiple versions (you may have gotten invite e-mails) but was unable to reproduce the error.

[2020-05-28 09:46] loorm commented on #394
@tiblu So which takes more time - (A) trying to establish page load times for long topic lists with non-native tooltips or (B) changing to native tooltips everywhere?
IF time(B) is < 4hrs THEN B
ELSE A

[2020-05-28 09:48] loorm commented on #286
Looks good to me. Assigning for Triage 23 on June 8.

[2020-05-28 09:49] loorm commented on #444
Assigning for Triage 23 on June 8.

[2020-05-28 09:56] loorm commented on #467
I can't see a way around this. Editing someone else's comments simply is not cool. We have to work on this.

[2020-05-28 10:00] #437 closed

[2020-05-28 10:00] loorm commented on #233
Assigning for Triage 23 on June 8.

[2020-05-28 10:03] loorm commented on #226
We can have certain "global labels", yes. Generally, labels would be private and user-generated.

Thank you for the view. Assigning for Triage 23 on June 8.

[2020-05-28 10:04] loorm commented on #318
Assigning for Triage 23 on June 8.

[2020-05-28 10:13] loorm commented on #437
Tested. It works, but only for the first time. Every consecutive edit attempt after that still results in the error. Screencast here https://drive.google.com/file/d/1dnWfohDy-S3D6jIsUqJeROee0X4UK7gj/view?usp=sharing

[2020-05-28 10:34] ilmartyrk commented on #437
@loorm try disabling browser cache. Etherpad is hard to update, as it sits inside iframe so Shit+F5 don't work

[2020-05-28 12:04] ilmartyrk commented on #466
@tiblu thank you, this is really helpful

[2020-05-28 12:46] kevincrepin commented on #230
Since we already show that info on the left side, it makes sense to tie the filtering to this view. Otherwise we need to include that data to the right side list.

Suggestion: https://projects.invisionapp.com/d/main#/console/9829159/419444197/preview
There might be a better way to word the ordering though?

[2020-05-28 13:24] kevincrepin commented on #237
If prefer having this edit because otherwise we break the current logic that people are used to
https://projects.invisionapp.com/d/main#/console/9829159/419454142/preview

[2020-05-28 13:50] loorm commented on #437
Gotcha. Disable browser cache worked. Tried all sort fo tricks to fool Etherpad back into old bad habits, but nothing worked.

Tested. Confirmed working.

[2020-05-28 13:54] loorm commented on #230
@ilmartyrk How are the topics currently ordered in Groups view on the left hand.

[2020-05-28 13:58] loorm commented on #237
Just out of curiosity, what's the logo doing at the topic "Kui palju pagulasi peaks Eesti..:"?

[2020-05-28 13:59] loorm commented on #237
Assigning to Triage 23 on June 8.

[2020-05-28 14:31] kevincrepin commented on #516
This could/would look like this then: https://projects.invisionapp.com/d/main#/console/9829159/419473620/preview

[2020-05-28 15:03] kevincrepin commented on #237
@loorm no doubt extreme legacy design to show that this belongs to a group

[2020-05-29 07:38] loorm commented on #516
@kevincrepin Functionally, this looks a lot better. But how does it look from a designer / UX expert POV? These were just some of my ideas. We don't have to implement them like that and we don't have to implement all of them. I want your perspective on this, too.

[2020-05-30 09:37] ilmartyrk commented on #235
@tiblu I don't exactly understand how did you get this error. Did you use FE or directly POST-ed to API?

[2020-06-01 08:20] ilmartyrk commented on #466
**TODO**:
- [ ] - Update locally
- [ ] - Check if all plugins work or if some need some modifications
- [ ] - Run tests in our API project to see if everything is OK
- [ ] - Check manually if UI is working normally and as intended
- [ ] - Check exported docx files in vote containers

**TESTING:**

Plugins:

- [] ep_align
- [] ep_auth_citizenos
    - [] authenticated access
    - [] non authenticat

[2020-06-01 09:49] liinaguiter commented on #457
Plausible fulfills our marketing needs. Thank you for this process!

[2020-06-02 19:30] loorm opened #521 "Ask for more information from users"
**What is the user story?**
Activist authors need to get some contacts from users of their topics, especially for social-ID signing.

**What is the requested feature?**
Ask for people to provide their contacts, where they would prefer to be contacted about the topic they have just signed. This input- and consent form would be displayed every time someone has voted, unless they have given us their

[2020-06-03 05:53] tiblu commented on #235
@ilmartyrk  Tried again, could not reproduce.

[2020-06-08 08:10] loorm commented on #513
Triage 23. Ready for dev. Prioritizing. Estimated dev time 2 hours.

[2020-06-08 08:12] loorm commented on #510
Ready for dev. Prioritizing. Est dev time 30 mins.

[2020-06-08 08:16] loorm commented on #464
Triage 23. Ready for dev. Prioritizing. Estimated dev time up to 6 hours.

[2020-06-08 08:35] loorm commented on #504
Triage 23. Two separate issues.
1) Window title does not refresh when creating a new topic. It stays on whatever was the title of the previously viewed topic. Replicated. Ready for dev. Estimated dev time 1 hour.
2) Etherpad and FE languages out of sync my happen, because user follows a link with a language parameter in it. This changes FE language. User then follows a link that does not contain a

[2020-06-08 08:42] loorm commented on #444
Triage 23. Ready for dev. Prioritizing. Estimated dev time 4 hours.

[2020-06-08 08:48] loorm commented on #226
Triage 23. @kevincrepin We discussed this. Because saving screen real estate in the topic header section is relevant for us; because we already have a nice, minimalist design for pinning and reporting (the round colourful icons) and because we will not be implementing user-generated labels right now, can we please ask you to create s round icon to indicate private/public topics? Something, that wo

[2020-06-08 08:49] ilmartyrk commented on #504
Update page title with every view change. Seems that if view doesn't change the global title parameter, the page title stays the same.

[2020-06-08 09:15] loorm commented on #254
Triage 23. Ready for development. Prioritizing. Estimated dev time 1 day.

[2020-06-08 09:23] loorm commented on #301
Triage 23. Ready for development. We do not allow user to type over 2048 char limit, but counter will be dsiplayed for last 20% of chars and will then count down in red. Prioritizing. Estimated dev time 4 hours.

[2020-06-08 09:39] loorm commented on #233
Triage 23. Ready for dev. Prioritizing. Estimated dev time 4 days.

[2020-06-08 09:45] loorm commented on #318
Triage 23. Ready for development. Prioritizing. Estimated dev time 1 day.

[2020-06-08 09:49] loorm commented on #237
Triage 23. Ready for development. Prioritizing. Estimated dev time 1 hour.

[2020-06-18 11:47] loorm opened #525 "Create an option to include / exclude csv from final container"
**What is the user story?**
A clear and concise description of what the user needs to do.
+ add screenshot / screencast when applicable

**What is the requested feature?**
Describe the new feature, relative to the above user story.

**Additional information.**
Something you want to add, that didn't fit one of the boxes above.

[2020-06-29 06:47] anettlinno commented on #240
In ID-card or Mobile-ID voting "Delegate your vote" inactive feature is shown and users are confused. Reminding to hide/ do not show this feature.

![Inactive Delegate your vote](https://user-images.githubusercontent.com/45175679/85981690-50ab1b00-b9ed-11ea-95dc-9d020538eceb.png)

[2020-06-29 13:53] anettlinno opened #530 "Topic sharing rights in private group"
**What is the user story?**
Only the owner of the topic has the right to share topic with other people (inviting users). Group members (admins) often need to invite users on this topic, but they are not allowed to do so.

<img width="947" alt="Don´t have permission" src="https://user-images.githubusercontent.com/45175679/86014213-b4066e80-ba28-11ea-86f3-826d9e0eed37.png">

**What is the requested

[2020-07-03 07:06] ilmartyrk commented on #466
@kevincrepin can you have a look, most of the plugins are updated to be in sync with their original projects and so the layouts and styles are also changed to use the original plugin functionality. I have added some styling from our side so that the fonts and text formating would look similar between our read and edit views. To get the best understanding what has changed you can compare editors in

[2020-07-08 13:47] ilmartyrk commented on #413
@loorm, as @tiblu  already has referred to in the past. The current design has only one selector for how many options user can select and by the current design it works in a way that the number inserted is the count of options user has to select, but our API actually supports minimum and maximum number for options for at least x but not more than y options. Should we stay with the fixed number for

[2020-07-28 06:50] ilmartyrk commented on #413
I went with the full implementation and added another input, also found a small bug in API when creating user bdoc with multiple choices. https://github.com/citizenos/citizenos-fe/commit/6c7bc83efd5f44434d80afb3685d796cf7ca1433

[2020-07-28 06:50] #413 closed

[2020-07-29 10:40] #466 closed

[2020-07-29 13:41] #265 closed

[2020-07-31 13:32] BeccaMelhuish opened #534 "Bug: Translation issues when switching between languages."
**What is the problem?**
Some of the texts sometimes shows in another language - in this case Indonesian. This has previously happened with Estonian showing too, while in English. It's only some parts though, as shown in the screenshots. Both are languages that I have at some point switched into previously to take screenshots for graphics, then switched back to English for normal usage.

![image](

[2020-07-31 13:36] BeccaMelhuish opened #535 "Bug: Topic title typing issues on mobile"
**What is the problem?**
When trying to edit the topic title on mobile, when creating a new topic, it reacts very badly with the autocorrect and creates long strings of gobbledygook like shown in the screenshot. It seems especially bad when using backspace to delete characters (adding more and more repetitions of the word/sections of the word instead) but also malfunctions when typing forwards. (I

[2020-08-04 13:34] ilmartyrk commented on #467
Closing it as the style has changed too much with EP 1.8.4 and editing other users comments is fixed

[2020-08-04 13:34] #467 closed

[2020-08-05 07:25] ilmartyrk commented on #398
@kevincrepin  what Icons should I use? I have added the functionality to have icons at the ends of the lines too, but I am not sure what icons to use. I believe it should be inline with other EP designs but probably not my call to make
 t

[2020-08-05 07:31] ilmartyrk commented on #470
@kevincrepin can you please add icon files too :)

[2020-08-05 07:40] kevincrepin commented on #470
@ilmartyrk should be available now

[2020-08-05 07:43] ilmartyrk commented on #470
@kevincrepin that was quick, thanks!

[2020-08-05 07:56] kevincrepin commented on #398
Think we agreed on having the same speech bubble as with the inline commenting, but make it green. I guess the number can be the total amount of votes?

But not sure in the long run if these additional bubble indications are scalable. imagine having many of them, it's going to get messy. I'd rather go only for different colour highlighting but that's not very accessible (contrast, colour-blindness

[2020-08-07 12:10] BeccaMelhuish commented on #398
Hello, I've been making screenshots of different features in action for Marketing purposes, and found a bug in this one which I thought I would add here? (I can also make a separate issue if preferable).

It seems that the mini-vote box will only appear if I have made not changes to the text as a whole. However if I have made any edits, even just adding a space to the end of the full text (or any

[2020-08-07 12:18] BeccaMelhuish commented on #534
And just to add a couple of further things to this, it seems all email notifications for topics are coming through in Indonesian (regardless of the language they've been created in), like this one from Ilmar:

![Capture 4](https://user-images.githubusercontent.com/61320526/89644570-1c5e3080-d8b0-11ea-9d35-41fc6bee5472.JPG)

And other notifications such as this one telling me the connection has bro

[2020-08-11 09:12] ilmartyrk opened #536 "Account activation using e-mail is confusing"
**What is the problem?**
When new user is invited to join topic, or person who creates new account using e-mail, user has to activate e-mail using confirmation link sent in e-mail. This link redirects user to FE page without logging in or giving any notifications. If user was invited to join topic then the link redirects to topic URL and as user is not logged-in he/she is displayed 404 error for p

[2020-08-17 10:53] #470 closed

[2020-08-19 07:32] ilmartyrk commented on #398
Thank you @BeccaMelhuish, I've made the fixes hope it works and looks better now

[2020-08-19 08:41] #459 closed

[2020-08-19 09:38] #302 closed

[2020-08-31 13:23] ilmartyrk opened #543 "BUG: Sharing private topics displays translations keys as title and description"
**What is the problem?**
When sharing a private topic robots cannot access topic content to fill out the topic title and description fields for visually complete post in Slack etc.

**Why is this a problem?**
This makes the links shared to looks as if broken

**Possible solution.**
Replace fields with some placeholders for private topics etc.

[2020-09-02 11:19] #240 closed

[2020-09-02 11:19] #236 closed

[2020-09-07 08:20] #324 closed

[2020-09-08 08:10] loorm commented on #504
Triage 24. Proceed in this issue with the following description:
"Etherpad and FE languages out of sync my happen, because user follows a link with a language parameter in it. This changes FE language. User then follows a link that does not contain a language parameter. This causes FE to swith back to user-preferred language. For the user, FE language switch happens without an apparent reason. EP

[2020-09-08 08:15] ilmartyrk commented on #543
Triage 24 Also solve "Update page title with every view change. Seems that if view doesn't change the global title parameter, the page title stays the same."

[2020-09-08 08:25] loorm commented on #286
This is linked to #301

[2020-09-08 08:34] loorm commented on #543
Needs copy from Marvin, prioritizing investigation for now.

[2020-09-08 08:37] loorm commented on #525
Triage 24. This need input from @kevincrepin. What we need is some way for users to choose between some options, when downloading the container with votes. At this time, there will only be one option - container with CSV or without CSV. But in the future, more options may be necessary.

[2020-09-08 08:49] loorm commented on #530
Triage 24. Replicated. However, this is not a bug or a feature. This is by design.

1) If topic author wants group members (admins) to have a right to invite users, he/she needs to give the group admin rights.
2) If topic author does not want group members (admins) to have a right to invite users, he/she needs to give the group edit rights.

Closing issue.

[2020-09-08 08:50] #530 closed

[2020-09-08 08:51] loorm opened #548 "Misaligned elements in dialog window"
**What is the problem?**
Alignment issue. See below.

**Why is this a problem?**
Ugly.

**Possible solution.**
Re-align the elements.
![triage24_2](https://user-images.githubusercontent.com/22661743/92454772-8fb5d380-f1c9-11ea-8cb0-496bdba7c41a.JPG)

[2020-09-08 08:52] ilmartyrk commented on #534
Triage 24 this is a duplicate of https://github.com/citizenos/citizenos-fe/issues/504

[2020-09-08 08:52] #534 closed

[2020-09-08 08:54] loorm commented on #535
Triage 24. Replicated. Cause unknown. Needs investigation. Prioritizing.

[2020-09-08 08:57] loorm commented on #536
Triage 24. We need to create a separate dialog window or page, which would say something like "E-mail confirmation successful. You are now welcome to log in and start your awesome collaborative discussions!" + the login button. @kevincrepin, can you come up with a visual solution for this, please.

[2020-09-08 08:58] loorm commented on #548
Triage 24. Ready for development. Estimated time 1 hour.

[2020-09-08 11:43] liinaguiter opened #549 "Make platform menu simpler by removing unnecessary parts."
**Menu uses both text and icons, which duplicate each other**
Too much information confuses the user. In order to make navigation in the menu easier, remove unnecessary parts. Since text and icons duplicate each other, propose removing text.

For example, in the 'Topics' menu:
![image](https://user-images.githubusercontent.com/34899902/92471451-a4519600-f1e0-11ea-9137-f6a960e45033.png)
The exact s

[2020-09-08 11:52] liinaguiter opened #550 "Improve language selector on platform"
**User needs to realise that the platform has been translated into 13 languages. We regularly get feedback, that user has not found the language selector button. Propose to make language selector button more clear that it is a language selector like we did on the website.**
Currently on the platform:
![image](https://user-images.githubusercontent.com/34899902/92472469-30b08880-f1e2-11ea-8bb0-cd25a

[2020-09-10 06:42] loorm opened #551 "Activity feed displays translation keys"
**What is the problem?**
Activity feed displays translation keys.
![activity_feed_problem](https://user-images.githubusercontent.com/22661743/92690464-bb5fc780-f349-11ea-82c8-8c94b2a8f099.jpg)

**Why is this a problem?**
It's a bug :)

**Possible solution.**
N/A

[2020-09-10 12:07] loorm opened #552 "Inline comments feature is not working"
**What is the problem?**
Inline comments feature is down.
![big_bug](https://user-images.githubusercontent.com/22661743/92727093-4a370900-f377-11ea-8c61-620dcfe76f3d.jpg)

**Why is this a problem?**
Part of core functionality not working.

**Possible solution.**
N/A

[2020-09-10 12:57] ilmartyrk commented on #552
Plugin update that included some new translations was not released, merged new translations pull, but forgot to update plugin in heroku config. As some translations expected data values that weren't sent to them by old code the translation plugin broke thus resulting in a broken EP.

[2020-09-10 13:02] ilmartyrk opened #553 "Translations can break Etherpad"
**What is the problem?**
If a translation key expects a value, but this is not sent by code the html10n translator breaks and shows error message

**Why is this a problem?**
EP is unusable because a huge error message is displayed and features will not work

**Possible solution.**
Make html10n ignore missing params (replace with null etc.), remove errors from UI and send them to console etc.

[2020-09-10 13:02] #552 closed

[2020-09-10 16:14] ilmartyrk opened #554 "Etherpad broken translations"
**What is the problem?**
Inline menu and inline voting contain untranslated content

**Why is this a problem?**
UI is displayed in multiple languages for users not using english

**Possible solution.**
Find causes and fix

[2020-09-10 16:21] ilmartyrk commented on #554
Etherpad inline voting had updated translation keys but these were forgotten to be added  to html too. Inline toolbar was created before all translations were synced thus missing keys were not translated, now translates is done with every show

[2020-09-10 16:21] #554 closed

[2020-09-14 12:35] #513 closed

[2020-09-15 06:47] ilmartyrk commented on #543
One tool for debuging https://socialsharepreview.com/

[2020-09-15 10:44] #508 closed

[2020-09-16 07:28] ilmartyrk opened #556 "Opinion festival box for front page"
@kevincrepin we need a design for an Opinion festival topics on our apps front page, similar to Hactivist Community,  34 Island Project and Eesti Jazzi arengusuunad.

**What is the requested feature?**
Design for the box, color and logo inside circle image. Added 3 different logo files and guide
![OF_white](https://user-images.githubusercontent.com/19904307/93305543-51db2f80-f807-11ea-8658-722934e

[2020-09-16 09:25] #318 closed

[2020-09-16 09:25] #510 closed

[2020-09-16 12:13] ilmartyrk commented on #504
I've found the cause to this issue, language parameter for the etherpad url is set from API side, so if user language in browser was set through URL (without changing the users prefered language) etherpad URL will contain users saved language thus possibly conflicting with current language in UI.
Possible solution is to check for this param in FE and replace if UI language is not the same as in et

[2020-09-16 12:14] #504 closed

[2020-09-16 12:30] ilmartyrk commented on #543
applied a fix to always set default title values if not in a topic view that can define a new meta title

[2020-09-16 12:30] #543 closed

[2020-09-16 12:36] liinaguiter opened #558 "Make more space for topic text by improving 'OPTIONS' menu location"
**When editing / viewing a topic in normal view, almost 1/3 of the page is reserved for the 'OPTIONS' menu
<img width="1427" alt="Screenshot 2020-09-16 at 15 28 18" src="https://user-images.githubusercontent.com/34899902/93337209-7e0ba600-f831-11ea-82fe-8c55eb2e31b5.png">
**

When the screen is made narrower, the page design changes to a much better UX: the 'Settings' (not 'OPTIONS' anymore) menu

[2020-09-16 12:47] liinaguiter opened #559 "Merge 'OPTIONS' menu with 'Settings' menu"
**'OPTIONS' menu doubles some options that are already included in the 'Settings' menu**
This makes both menus more confusing to the user.

<img width="306" alt="Screenshot 2020-09-16 at 15 40 14" src="https://user-images.githubusercontent.com/34899902/93338424-fc1c7c80-f832-11ea-9166-e05f7fd0175e.png">
<img width="679" alt="Screenshot 2020-09-16 at 15 40 27" src="https://user-images.githubusercon

[2020-09-16 12:49] ilmartyrk commented on #535
Seems to happen when backspace is held down to delete more text.

[2020-09-16 12:56] liinaguiter opened #560 "Merge 'vote' and 'view' pages"
**Users have reported not finding the 'vote' tab (many times)**
Users find it difficult to find the 'vote' tab, because they are directed to 'view' mode, when they open an email invitation or link.

Propose to merge 'vote' and 'view' pages. The voting section does not take up much space, it could be at the top of the page, if a topic has been sent to voting. Then all information about the topic wo

[2020-09-16 15:05] liinaguiter opened #561 "A personal dashboard"
**The public topics being discussed on the Citizen OS platform are mainly of interest to a specific group of people, not to everybody. For that reason, the platform dashboard could be catered towards the needs of that user. The dashboard could be more visual and interesting to the user, if it showed them the topics only relevant to them (or at least highlighted relevant topics) and showed how many

[2020-09-17 07:22] ilmartyrk commented on #560
@liinaguiter Vote tab is now automatically opened when topic is in voting. I am not closing this issue just to have a small discussion during next triage to see if this could possibly have some other solution.

[2020-09-17 07:24] anettlinno commented on #556
Here is introductory text: Indonesia Opinion Festival adalah even yang mempertemukan masyarakat untuk merayakan kebebasan berpendapat. Diskusi, debat, rekomendasi ide dan voting terhadap ide-ide terpilih dalam perjalanan menuju e-democracy bangsa.

[2020-09-17 09:57] kevincrepin commented on #525
Let's have the one button serve as a dropdown with more options:
https://projects.invisionapp.com/d/main#/console/9829159/431947437/preview

[2020-09-17 10:23] kevincrepin commented on #536
Let's use this kind of dialog which we should have already and adapt it a little bit:
https://projects.invisionapp.com/d/main#/console/9829159/431950537/preview

[2020-09-17 10:38] kevincrepin commented on #556
Not sure if you need the full circle visual or only what's inside the inner circle...
The full circle is available from: https://projects.invisionapp.com/d/main#/console/9829159/404593274/preview
Let's make the box colour #D98B30

[2020-09-17 19:48] ilmartyrk commented on #556
@kevincrepin thanks, exactly what was needed :)

[2020-09-18 08:26] #556 closed

[2020-09-22 08:04] loorm commented on #551
Triage 25. Ready for dev. Estimated time 15 minutes. Prioritizing.

[2020-09-22 08:08] loorm commented on #561
Triage 25. We discussed this and a few questions came up:
- Would this replace the current public topics view or is this an enhancement of current "My topics" view or is it something completely new you are proposing?
- How is it different from the ability to "pin" a topic in My topics view?
- Do you think the system shoudl determine user's interest automatically or based on user input (like pinnin

[2020-09-22 08:11] loorm commented on #560
Triage 25. #513 was a solution too the same problem. Has been implemented. Let's wait and see if the problem persists. If users are still not able to find where to vote, we need to come back to this.

[2020-09-22 08:11] #560 closed

[2020-09-22 08:15] loorm commented on #559
Triage 25. Problem acknowledged. Need to create specific distribution of links between Setting and Options. Perhaps rename Options to Actions.

Moving to in preparation.

[2020-09-22 08:22] loorm commented on #558
Triage 25. We tried and tested on 13" laptop screens and 10" laptop screens and usability remains good. Even in the added screenshot, the text area appears wide enough. So we cannot identify the issue about the width. Is there any evidence, that this might be a problem to users?

It does, however, related to a wider UX issue, that our screen is too crowded with information perhaps. This is somethi

[2020-09-22 08:29] loorm opened #566 "Missing translation in Etherpad on-screen menu"
**What is the problem?**
See orange circle.
![EP_translations](https://user-images.githubusercontent.com/22661743/93859830-d4139a00-fcc6-11ea-867a-5c44872d4c3c.png)

**Why is this a problem?**
User is unable to understand, what the menu item means.

**Possible solution.**
-

[2020-09-22 08:30] loorm commented on #566
Triage 25. Discovered this. Prioritizing. Estimated dev time 1 day.

[2020-09-22 08:32] loorm commented on #553
Triage 25. #552 was an example, but we need a wider solution to avoid aggressive error messages when a translation entry is not found.

Estimated dev time 1 day. Prioritizing.

[2020-09-22 15:21] ilmartyrk commented on #535
By testing at some other public instances and removing plugins from our test environment EP managed to narrow it down to ep_title_limit plugin. So the cause is in there, but how to solve it is not sure at least for now.

[2020-09-22 15:44] #551 closed

[2020-09-22 21:31] ilmartyrk commented on #566
This translation key was not added to the plugin so by default it had no value before ep_translations plugin sync, fixed by adding this key to plugin locale files and also updated ep_tranlsations plugin dependencies

[2020-09-22 21:31] #566 closed

[2020-09-23 07:35] ilmartyrk opened #571 "Centralized translation repo for plugins"
I've been contacted by a user of our ep_image_upload plugin if we are interested in using centralized repo for all ep plugins. Etherpads translations have always been an issue as all plugins have separate translations our current solution depends on a plugin I've created to be able to use Crowdin, but it still has some issues with sync-ing. If a native solution is developed by etherpad community i

[2020-09-23 12:05] ilmartyrk commented on #237
@kevincrepin can you please add missing icons too (both white and dark)

[2020-09-23 12:10] BeccaMelhuish opened #572 "'See who liked your argument' feature not working"
I was taking some draft screenshots for marketing this new feature, but it seems it isn't working properly yet.

See for example this comment below, where it shows 2 green 'likes' on the comment itself and no red 'dislikes'. But when clicking through to see who has liked them, it shows 3 reactions in total - on the first page one green 'like' and one red 'dislike', and then on the second page an a

[2020-09-24 08:00] #502 closed

[2020-09-24 08:12] kevincrepin commented on #237
@ilmartyrk adding them here. Svg ok?

[icon_edit_topic.zip](https://github.com/citizenos/citizenos-fe/files/5274442/icon_edit_topic.zip)

[2020-09-24 10:06] #548 closed

[2020-09-24 10:11] ilmartyrk commented on #237
@kevincrepin svg is ok, but there only seems to be pencil icon without paper part?

[2020-09-24 13:36] kevincrepin commented on #237
Very weird, something always goes wrong when exporting as svg. had to go png. Also ok?
[icon_edit_topic_png.zip](https://github.com/citizenos/citizenos-fe/files/5276443/icon_edit_topic_png.zip)

[2020-09-24 13:38] ilmartyrk commented on #237
@kevincrepin thanks, perfect!

[2020-09-24 14:22] #237 closed

[2020-09-30 08:45] ilmartyrk opened #575 "Indian Youth Participation Network box on home page"
@kevincrepin We'll need to add a box for the Indian Youth Participation Network on the app-s home page. Sara will add all the info she has and then we will need the design (Logo in circle and color code).

[2020-09-30 10:48] #254 closed

[2020-09-30 10:48] #464 closed

[2020-10-06 09:28] loorm commented on #535
Triage 26. Estimated time 1 day. ep_title_limit plugin is the likely culprit.

[2020-10-06 09:31] loorm commented on #575
Triage 26. Issue is waiting for input from Sara.

[2020-10-06 09:46] loorm commented on #514
Triage 26 - @kativellak can you assess legal impact on this, please.

[2020-10-06 09:48] loorm commented on #233
Triage 26 - @liinaguiter Do you think this has marketing value? Would you like to be notified, when this feature will be going live?

[2020-10-06 09:55] loorm commented on #571
Triage 26 - let's watch where this is going, but it would be costly in terms of time and effort to switch our translation system right now.

[2020-10-06 10:07] liinaguiter commented on #233
Yes, @loorm please notify me when this goes live.

[2020-10-07 12:32] liinaguiter opened #577 "For Estonian NGO's to use for online meetings, need a eID signed list of attendees."
Our User (Raul Kübarsepp) reported, that for Estonian NGO's to use COS for online meetings, they need the function of eID signed list of attendees. Then, the decisions would be valid in the eyes of the law.

Could ask for advice on how to best solve this from Raul Kübarsepp or Alari Rammo for example.

Raul Kübarsepp believes if this function is created in COS, the use in NGO's will go viral.

[2020-10-07 18:19] BeccaMelhuish opened #578 "Issue with selecting options (buttons)"
**What is the problem?**
When you click in the circle or box in the buttons shown below (voting customisation, and multiple choice voting), the button doesn't work (nothing happens and it remains unselected). It only works if you click in the right hand section of the button, where the text is.

![Screenshot_20201007-200536](https://user-images.githubusercontent.com/61320526/95371227-30d39f00-08da

[2020-10-12 13:51] ssin1901 commented on #575
[logo] - link attached below

![pyln-cos-logo-black](https://user-images.githubusercontent.com/72747107/95753953-f8f49f00-0cbf-11eb-9cb0-34ccf204e159.png)

[title] - Participatory Youth Leadership Network
[short description] - PYLN is a community of practice for youth organisations to hack participatory leadership in India
[tags] Youth leadership, bottom-up innovation and civic engagement

[2020-10-12 16:54] ilmartyrk commented on #575
@kevincrepin can you create the logo in circle image using the logo provided by @ssin1901

[2020-10-12 17:13] kevincrepin commented on #575
Maybe the box itself can be #D080B4? We've had a lot of yellow / greenishes ones...

[img_partner_indiaYouthParticipationNetwork.zip](https://github.com/citizenos/citizenos-fe/files/5366487/img_partner_indiaYouthParticipationNetwork.zip)

[2020-10-13 12:42] ssin1901 commented on #575
@kevincrepin #00EAC4 is what we used for the web page but the pink is great too! Whichever colour you think works better.

[2020-10-14 11:47] #575 closed

[2020-10-15 09:22] BeccaMelhuish commented on #398
@ilmartyrk Just getting back to this Marketing graphic now. Thank you, it does! But there are still some other issues it seems, it was still a bit hard to get a good screenshot on my phone, and therefore would be hard for users to use too I think.

I'm attaching a few different screenshots which show the issues I had, which are:

- The blue dots of the selected text show through the pop-up.
- Some

[2020-10-15 12:50] ilmartyrk commented on #398
@BeccaMelhuish there is no quick unfortunately.

[2020-10-15 13:00] BeccaMelhuish commented on #398
@ilmartyrk OK no worries! Will keep an eye on the topic updates :)

[2020-10-19 06:46] KatiVellak commented on #536
Legally reviewed, no additions.

[2020-10-19 06:47] KatiVellak commented on #535
Legally reviewed, no additions.

[2020-10-19 06:48] KatiVellak commented on #525
Legally reviewed, no additions.

[2020-10-19 06:50] KatiVellak commented on #548
Legally reviewed, no additions.

[2020-10-19 06:51] KatiVellak commented on #543
Legally reviewed, no additions.

[2020-10-19 06:52] KatiVellak commented on #530
Legally reviewed, no additions.

[2020-10-19 06:53] KatiVellak commented on #534
Legally reviewed, no additions.

[2020-10-19 06:56] KatiVellak commented on #504
Legally reviewed, no additions.

[2020-10-19 06:59] KatiVellak commented on #559
Legally reviewed, no additions.

[2020-10-19 06:59] KatiVellak commented on #553
Legally reviewed, no additions.

[2020-10-19 07:00] KatiVellak commented on #561
Legally reviewed, no additions.

[2020-10-19 07:01] KatiVellak commented on #558
Legally reviewed, no additions.

[2020-10-19 07:01] KatiVellak commented on #551
Legally reviewed, no additions.

[2020-10-19 07:02] KatiVellak commented on #566
Legally reviewed, no additions.

[2020-10-19 07:03] KatiVellak commented on #560
Legally reviewed, no additions.

[2020-10-19 07:06] KatiVellak commented on #571
Legally reviewed, no additions.

[2020-10-19 07:08] KatiVellak commented on #233
Legally reviewed, no additions.

[2020-10-19 07:09] KatiVellak commented on #575
Legally reviewed, no additions.

[2020-10-19 07:24] KatiVellak commented on #301
Legally reviewed, no additions.

[2020-10-19 07:26] KatiVellak commented on #226
Legally reviewed, no additional comments, very needed improvement.

[2020-10-19 07:27] KatiVellak commented on #316
Legally reviewed, no additions.

[2020-10-19 07:29] KatiVellak commented on #510
Legally reviewed, no additions.

[2020-10-19 09:47] KatiVellak commented on #513
Legally reviewed, no additions.

[2020-10-19 09:49] KatiVellak commented on #318
Legally reviewed, no additions.

[2020-10-19 09:53] KatiVellak commented on #237
Legally reviewed, no additions.

[2020-10-19 09:55] KatiVellak commented on #254
Legally reviewed, no additions.

[2020-10-20 08:31] loorm commented on #398
Triage 27. Unable to replicate on Android 7, Galaxy S6, for the most part.

- "The blue dots of the selected text show through the pop-up." This was successfully replicated, however, there is nothing we can do about this. This is Android specific.
- The rest of the visuals and functionality worked fine.

@BeccaMelhuish Can you please specify the phone / system you were using? Is it properly update

[2020-10-20 08:36] loorm commented on #577
Triage 27. Based on the current description, all necessary functionality seems to exist. We need to clarify, what is missing. Moving back to "In preparation" until we have had a chance to clarify.

[2020-10-20 08:39] loorm commented on #578
Triage 27. Bug replicated. Prioritizing. Estimated dev time: 10 minutes.

[2020-10-20 09:03] loorm commented on #514
Triage 27 - pursuant to legal considerations, let's only implement this for personally given votes. Will not implement this for delegated votes. Actual issue title now becomes "Display your own vote in voting results." This is already live.

[2020-10-20 09:03] #514 closed

[2020-10-21 12:22] BeccaMelhuish commented on #398
Hi @loorm, I'm using a Motorola Moto G6, with Android 9. It wasn't updated, but I just updated it and I'm sorry to say it's all just the same!

I was using Chrome, but thought I'd also try it on the Firefox browser app, but unfortunately that actually made it worse. I'll attach a few screenshots, which mostly show the same things, but the new issues I found using it in Firefox were:

- It was very

[2020-10-21 15:09] #578 closed

[2020-10-29 09:13] ilmartyrk opened #584 "Add password confirmation input to password reset and account create modals"
When user resets his/her password, there is only one field for new password and if user accidentally makes a typo, he/she thinks something is broken on our system. When we add new-password confirmation input (write password again), it decreases the chances of users making typo-s in their passwords.

[2020-10-29 09:39] #584 closed

[2020-10-30 12:16] liinaguiter opened #587 "A more communicative GitHub page"
**To have a more communicative GitHub page**
What can and should be added was discussed over a meeting. We agreed on the following:
https://docs.google.com/document/d/1gTGNs3WCBfQK1knB4APt8UWTSZDCguTjZ6frnhX2Fzo/edit

Ilmar: "I believe it needs to be a separate GiHub issue to be prioritized. It will probably be a days work to get it looking as we discussed".

Thank you!
Liina

[2020-10-30 12:39] liinaguiter commented on #561
@loorm Good questions! This idea was about something completely new.

[2020-11-02 13:25] loorm commented on #587
Triage 28. Reviewed. Agreed. Prioritized. Need to think about who the target group of this activity is.

[2020-11-03 11:09] #505 closed

[2020-11-05 10:50] ilmartyrk commented on #553
Added fix to etherpads original project, it is allready merged hopefully it will be in the 1.8.7 release and we can add it to our live, after that I will close this issue

[2020-11-10 16:46] liinaguiter commented on #577
I explained to the user Raul Kübarsepp, that you can list the people in a topic and sign that topic.

But he sais that something more is needed:

"Spetsiaalne nupp "allkirjasta dokument" vms.
Kui olen mingis teemas, siis paistab ainsana nupp "alusta hääletus", aga hääletused ole ole seltside ainsaks tööriistaks.
Kui mõtlema hakkan, siis, "allkirjasta dokument" on vajalik  gruppide vaates.
Muidu pe

[2020-11-10 16:54] cyberSmi7h commented on #577
Yup, we need common document signing feature most.

[2020-11-11 08:08] liinaguiter commented on #577
"Kas Sa mõtled, et oleks vaja sedasama funktsionaalsust nagu Digidoc või docobit, st. et saad digiallkirjastada?
Meil saab allkirjastada ning see on äriregistri poolt aktsepteeritud, lihtsalt pead enne hääletama dokumenti, siis saad allkirjastada. Ei saa ainult allkirjastada.

9:39 AM
Raul Kübarsepp
Täpselt. Olekski vaja eraldi allkirjastamist eraldi ja selge funktsioonina.
So allkirjastamist lähe

[2020-11-16 10:02] loorm opened #588 "Always get e-mail / id code for a user account"
**Problem**
User register's with eID. Later, someone wants to invite the user into a topic. Sends the invite by e-mail. Because the original eID account did not have e-mail information, a new account is now created for the same user. This is a suboptimal situation.

**What is the user story?**
When I register as a user, I want to be able to enjoy the full functionality of Citizen OS.  Because I do

[2020-11-16 10:24] loorm opened #589 "Include recipient e-mail into invite text"
**What is the user story?**
User does not know, which email invite was sent to (forwarding etc)

**Which feature needs to be updated and how?**
Always include e-mail address in invite.

[2020-11-16 10:35] loorm opened #590 "How does the system handle time zones with regard to voting periods (start and end)"
**What is the user story?**
When voting organiser and voting participant are in different time zones, what is displayed as the deadline. When voter votes, where does the signature time stamp come from. What is displayed as the voting date in the container.

**Which feature needs to be updated and how?**
Describe the requested change, relative to the above user story.

**Additional information.**
S

[2020-11-16 10:38] ilmartyrk opened #591 "Voted user counter should show users count corretly"
**What is the problem?**
Vote counter currently is showing selected options count and for multiple-choice voting the counter will show n*x votes and vote creator cannot know how many users have voted.
**Why is this a problem?**
Vote count should show only users count else it is quite useless.

**Possible solution.**
replace with correct number

[2020-11-16 10:48] loorm opened #592 "Create a separate CSV with vote count otuside of container"
**What is the user story?**
Update CSV file creationg to reflect multiple choice voting.
Make it separately available as CSV file for download, outside of container.

**Which feature needs to be updated and how?**
Describe the requested change, relative to the above user story.

**Additional information.**
Something you want to add, that didn't fit one of the boxes above.

[2020-11-16 15:00] loorm commented on #588
Issue is now fully described and ready for @kevincrepin

[2020-11-19 14:16] BeccaMelhuish opened #593 "UX issue with 'See who reacted' feature"
When you click to see who reacted to an argument, it takes you right back to the topic of the topic, which if it is a long topic or a discussion with many comments will mean you totally lose your place, and have to scroll back down through everything to find where you were again, possibly several times, if you want to see who reacted to several different comments.

![image](https://user-images.git

[2020-11-26 09:12] anettlinno opened #594 "Add "VOTE" button below voting box"
**What is the user story?**
In single selection voting (with social log-in) my vote is already counted when I click on the name (notification via the announcement bar), but it´s confusing because I don´t really understand (or trust) that my vote was counted. And if I click multiple times and different options, I don´t understand which vote was counted.

<img width="949" alt="Voting" src="https://u

[2020-11-27 11:04] anettlinno opened #595 ""Edit topic" blue box"
**What is the user story?**
"Edit topic" is not easy to find from the "Options" menu.

**Which feature needs to be updated and how?**
"Edit topic" blue box could be in the same place where "Done editing" blue box (in topic mode).

<img width="806" alt="Edit topic2" src="https://user-images.githubusercontent.com/45175679/100442505-d45a5800-30b0-11eb-87d5-3d2da7bc7ad0.png">

**Additional information

[2020-12-02 09:10] loorm commented on #594
Triage 30. Confirmed. Solution exists, is implemented for multiple choice voting. Will harmonize. Est dev time - 30 minutes. Prioritizing.

[2020-12-02 09:12] loorm commented on #595
Triage 30. Confirmed. Est. dev. time - 20 mins. Prioritizing.

[2020-12-02 09:15] loorm commented on #591
Triage 30. Confirmed. Est dev time - 1 day. Prioritizing.

[2020-12-02 09:18] loorm commented on #590
Triage 30. Confirmed. Prioritizing.

Investigate current status - @ilmartyrk
Investigate how it should work - @loorm @kativellak

[2020-12-02 09:22] loorm commented on #592
Triage 30. Confirmed. We need UX for this.

@kevincrepin Please have a look at this one. We need something (a button?) in the completed voting view in order to download additional files other than the main container.

[2020-12-02 09:26] loorm commented on #588
Triage 30. Confirmed. Actually, it needs a user story and a legal review before UX. @kevincrepin, please hold until the first two steps are completed.

[2020-12-02 09:31] loorm commented on #589
Triage 30. Needs a copy on how to include this in the current e-mail template ("You are invited to collaborate on ..."). Then, we can proceed to development. Estimated dev time - 30 mins. Prioritizing.

[2020-12-02 09:51] loorm opened #597 "Create a hovering Help Center bubble"
**What is the user story?**
As a user I need a quick way to get help, when unable to do what I wanted to do.

**What is the requested feature?**
Create a Proactive Window Support  system (a hovering bubble). Clicking the bubble opens up a menu, which has a few choices:

- link to Help Center
- e-mail a support request. It then gathers information about user's browser / OS versions, screen size etc

[2020-12-02 09:52] loorm commented on #597
Triage 30. Confirmed. Prioritizing.

- [ ] @ilmartyrk will look for open source library

- [ ] @kevincrepin we need a design for this, please

- [ ] @kativellak is browser / os info gathering in order to provide better support an ok thing to do legally?

[2020-12-07 08:40] loorm opened #598 "Headings in My Topics view run too long"
**What is the problem?**
![Capture_2](https://user-images.githubusercontent.com/22661743/101328251-73810b80-3878-11eb-8bc1-f141734b3c02.JPG)

**Why is this a problem?**
Just doesn't look too good.

**Possible solution.**
N/A

[2020-12-07 10:53] kevincrepin commented on #592
Seems like we've already had this :)
https://projects.invisionapp.com/d/main#/console/9829159/431950733/preview

[2020-12-07 11:05] loorm opened #599 "Investigate eIDEasy suitability"
There is a service - https://eideasy.com/ - that might be useful for us. Need to look into it a bit.

[2020-12-08 07:48] ilmartyrk commented on #597
Been looking for a simple lightweight solution, but there seems to be none that I can find. I believe that it is easier for us to create our own system. I can get the user browser and OS info from their browser data and add it to the end of the e-mail.

FE would have bubble in the corner when user clicks on it a popup is displayed. The popup should contain contacting field like user email so we ca

[2020-12-08 09:28] kevincrepin commented on #597
Closed: https://projects.invisionapp.com/d/main#/console/9829159/439830790/preview
Open: https://projects.invisionapp.com/d/main#/console/9829159/439830791/preview
Works pretty much same way as Intercom so when moving to that kind of solution, it shouldn't be too much of a different (for the user). Width is mobile proof.

Icons I'm attaching here, because Invision makes it hard :)
[icons.zip](http

[2020-12-10 08:59] BeccaMelhuish opened #601 "UX issue: attachments in topics"
When you open an attachment in a topic it opens in the same tab, so when you close it, you are no longer in COS, and have to reopen it and re-find the topic you were previously in. It should open in a new tab, for better UX.

![image](https://user-images.githubusercontent.com/61320526/101749709-56457a80-3ace-11eb-9b18-36c3f5b67f39.png)

[2020-12-10 09:20] BeccaMelhuish opened #602 "UX issue: joining topic"
This has probably been raised before but I will add it here just in case. When you are invited to a topic it seems that it doesn't show up in "my topics" right away, you can only access it via the email invite? So for example today I knew Anett had recently invited me to a topic, but I couldn't find it in my topics. So I had to go back through my emails to find the invite, in order to access it.

[2020-12-14 11:42] ilmartyrk commented on #597
UI is ready, e-mail(s) need some tweaking

[2020-12-14 12:14] ilmartyrk commented on #589
@BeccaMelhuish @helenkask what do you think, is it ok if we just add email after the users name to look like `Hi Ilmar Türk (ilmar@citizenos.com)!`

[2020-12-15 09:12] loorm commented on #598
Triage 31. Confirmed. Topic heading truncate seems to work, but it cuts in too late, the heading is already over the boundary. Prioritizing. Estimated developer time 1 hour.

[2020-12-15 09:14] loorm commented on #599
Triage 31. Yes, let's look into it, but priority is lowish.

[2020-12-15 09:20] loorm commented on #601
Triage 31. Confirmed. Estimated dev time 10 minutes. Prioritizing.

Expected behaviour:
1) if downloadable attachment, do not open a new tab
2) if openable attachment (Drive etc), open in new tab

[2020-12-15 09:22] #601 closed

[2020-12-15 09:32] loorm commented on #602
Triage 31. Somewhat confirmed. There is a way to join a topic you have been invited to from Activity Feed. The user need for a more intuitive approach (i.e. to have it under My Topics) is understandable, however, to achieve what looks like a small change, we would need a substantial amount of UX and API work behind the scenes. Perhaps this is an idea that we can implement when we revamp the UX on

[2020-12-15 09:39] loorm commented on #597
Triage 31. @KatiVellak, please have a look. We need to move on with deploying this.  Look at comments by Ilmar, he lists the data that we would be recording about the user who is using the Help Center bubble.

[2020-12-15 11:45] BeccaMelhuish commented on #602
@loorm OK yes thanks for the reply! Good to know for the FAQs/Help Centre too - perhaps we can explain this in there in the meantime. But yes would be great to consider it with the bigger UX overhaul :)

[2020-12-15 17:43] BeccaMelhuish commented on #589
@ilmartyrk How about this? Would also help with the issue of them not knowing they need to use the same email address? (And also seem less odd to include it for everyone (most people) who can just see the email address by vieing the "to" field).

"Please note: You must log in using the same email address (xxxx@xxxx.com) to access this topic." (Or "to access this group" for a group).

![user-email-

[2020-12-15 17:46] KatiVellak commented on #597
The popup must include the information that by submitting the support request, COS will gather information about user's browser and OS versions, and screen size to be able to accurately assist. And that the information gathered is automatically attached to the support request the user will submit and only processed for assistance purposes. If there is more information we wish to gather and it seem

[2020-12-15 17:51] KatiVellak commented on #589
Legally reviewed, for what it's worth, I like Becca's proposal, helps to avoid the confusion :)

[2020-12-15 17:57] KatiVellak commented on #592
Legally reviewed, no impact.

[2020-12-15 18:01] KatiVellak commented on #588
@loorm please ping me once your user story is complete, the current user story didn´t raise any red flags so far. As the email field is meant to be mandatory, it would be good idea to have an information pop-up there to explain the reasons. And also to connect the eID as an option should have the explanation so that the user right away understand the need and importance.

[2020-12-15 18:03] KatiVellak commented on #590
@loorm and @ilmartyrk we should organize a discussion for this topic.

[2020-12-15 18:06] KatiVellak commented on #591
Legally reviewed, let´s get those voting numbers straight.

[2020-12-15 18:06] KatiVellak commented on #595
Legally reviewed, no impact.

[2020-12-15 18:07] KatiVellak commented on #594
Legally reviewed, no impact.

[2020-12-16 09:12] helenkask commented on #589
Localizability wise both are good, personally voting for Becca's option too.

[2020-12-16 09:26] ilmartyrk commented on #589
@KatiVellak @BeccaMelhuish @helenkask I really like Becca's option too and will go with that. Looks way more professional :)

[2020-12-16 12:43] #589 closed

[2020-12-16 13:06] ilmartyrk commented on #597
@kevincrepin can you take a look at @KatiVellak comment? Is it possible to fit this info to current design or should we add confirmation popup that can display this data. Other solution that I can think of is a checkbox for user to allow us to gather extra data. What do you think @KatiVellak is that solution OK. If checked we gather the info I listed before and if not we only get the user inserted

[2020-12-16 14:42] kevincrepin commented on #597
Yes, let's definitely not put all this info in there if we can avoid it. The checkbox seems like a reasonable solution for this. Updated the design to include this. Copy needs work.

[2020-12-18 20:43] ilmartyrk commented on #597
@KatiVellak thanks for your review. Are you willing to add this data to PP. Basically everything you mentioned in your comment (OS, Browser version, screen size) and also current URL and `userId `if user is logged in.

[2020-12-21 20:59] liinaguiter opened #609 "Posting topic on social media should show title + image in topic (if available)"
**What is the user story?**
Social media sharing is important for our users for sharing public topics.
The channels are Facebook, LinkedIN and Twitter.

**Which feature needs to be updated and how?**
Right now, none of the three social media channels show the topic title nor image when shared. On FB, shows up like this:
![Screenshot 2020-12-21 at 22 46 47](https://user-images.githubusercontent.com

[2020-12-30 12:45] liinaguiter opened #610 "In multiple choice, min/max voting plus button does not work"
**What is the problem?**
In multiple choice, min/max voting plus button does not work. Min button works. Please see video.
https://user-images.githubusercontent.com/34899902/103351949-781e9580-4aad-11eb-8556-d8415e165565.mov

**Why is this a problem?**
Bug.

**Possible solution.**
Please fix if possible.

[2021-01-05 09:12] #553 closed

[2021-01-05 09:42] ilmartyrk commented on #535
Got it to work a little better, but far from ok

[2021-01-05 11:28] #595 closed

[2021-01-05 12:36] #594 closed

[2021-01-06 19:09] ilmartyrk commented on #489
@kevincrepin can you please add x2 icons or svg :)

[2021-01-08 07:29] kevincrepin commented on #489
@ilmartyrk here you go 👍
[icon_delete_topic.svg.zip](https://github.com/citizenos/citizenos-fe/files/5785772/icon_delete_topic.svg.zip)

[2021-01-11 10:02] liinaguiter commented on #609
NB! On FB, the title needs to be 60 characters or less (most likely).

[2021-01-12 09:22] ilmartyrk commented on #610
Triage 32 .The "+" button only allows incrementing when inserted options count is more than current value in the max options field. Decided to visually separate max - min inserting as a next step after inserting options.

[2021-01-12 09:29] loorm commented on #609
Triage 32. @liinaguiter Are you trying to do this with a public topic or a private topic? A private topic will not and should not show title or content in FB. I tested it with a public topic in FB and LinkedIn and it worked for me.
![FB_capture_working](https://user-images.githubusercontent.com/22661743/104295710-7ac7b480-54c9-11eb-9e5c-7f1214e991be.JPG)

[2021-01-13 19:26] #610 closed

[2021-01-18 10:46] liinaguiter commented on #609
Weird that it worked for you.

It does not work for me. Trying to post a public topic, the exact same one
(PARE personalijuhi ametikirjeldus). See screenshot of how it looks for me.

On Tue, 12 Jan 2021 at 11:30, Margo <notifications@github.com> wrote:

[2021-01-18 10:57] liinaguiter commented on #609
It worked now!

I logged out of COS, then posted the public topic. And then it showed the
title and description.
Then logged in to COS, posted the public topic. And also showed the title
and description.

On Mon, 18 Jan 2021 at 12:46, Liina Guiter <liina.guiter@gmail.com> wrote:

[2021-01-19 08:57] #233 closed

[2021-01-19 09:01] #598 closed

[2021-01-19 09:01] #489 closed

[2021-01-19 09:01] #286 closed

[2021-01-19 09:01] #592 closed

[2021-01-27 09:50] loorm opened #628 "Social media previews are slow (9s)"
**What is the problem?**
Copying topic link to social media post times out.
![COS_error](https://user-images.githubusercontent.com/22661743/105973720-bfd91280-6095-11eb-8ef7-a26023e5a5e2.JPG)

**Why is this a problem?**
Topics get their audience from social media.

**Possible solution.**
N/A

[2021-02-02 08:12] ilmartyrk opened #629 "Greek not wrapping words correctly in html"
Greek text is not by default reacting to CSS rules and there is no word-breaking it results in stretched out paragraphs and broken UI.
https://app.citizenos.com/en/topics/cdf67847-8d51-459e-a56e-2acca173a644?argumentsPage=1

 Needs further investigation on how to properly fix this.

[2021-02-03 13:15] ilmartyrk commented on #629
The actual issue was not caused by Greek, but by markdown in arguments section. Someone had probably paste/or manually used markdown syntax to create code formatted text. By default marked.js renders code elements wrapped by pre elements and pre elements don't wrap text and display as is. So the long texts were stretched out until next line-break or end of argument

[2021-02-03 13:15] #629 closed

[2021-02-09 10:51] loorm commented on #302
Tested. Confirmed working.

[2021-02-09 10:53] loorm commented on #470
Tested. Confirmed working.

[2021-02-09 11:02] loorm opened #631 ""Disagree" counts one click multiple times"
**What is the problem?**
Clicking "Disagree" once is displayed as a greater number. See video. It corrects, after you refresh the page.

https://drive.google.com/file/d/1UntbqRU1rc6mSJu9Hj7wxerP9ceKz8VH/view?usp=sharing

**Why is this a problem?**
It's just incorrect numbers and confusing

**Possible solution.**
N/A (it seems to use whatever number of "Agree" votes there are)

[2021-02-09 11:14] loorm commented on #240
Tested. Confirmed working.

[2021-02-09 11:19] loorm commented on #236
Tested. Confirmed working.

[2021-02-09 11:25] loorm opened #632 ""Edit" shortcut not working on mobiles"
**What is the problem?**
On mobiles in My Topics view, Edit shortcut does not work. You are still directed to viewing the topic, not editing the topic.  Touching the screen seems to register a touch for the whole block, not the individual shortcut link within. Android 7 & 9, Chrome.
![Screenshot_20210209-132018](https://user-images.githubusercontent.com/22661743/107356788-ea858b00-6ad9-11eb-8b4d-c

[2021-02-09 11:36] loorm commented on #324
Tested. Confirmed working.

[2021-02-09 11:41] loorm commented on #504
Tested. Confirmed working.

[2021-02-09 11:46] loorm commented on #552
Tested. Confirmed working.

[2021-02-10 13:50] loorm commented on #513
Tested. Confirmed working.

[2021-02-10 14:11] loorm commented on #508
Tested. Confirmed working.

[2021-02-10 21:43] ilmartyrk opened #635 "ID-card login not working"
ID-card login fails without getting certificate. `hwcrypto.getCertificate({filter: 'AUTH'})` that is used to get user authentication certificate (PIN1) fails with `invalid_argument` error in console. Signing (PIN2) is working fine.

[2021-02-17 08:11] anettlinno opened #636 "UX issue: users click "leave topic" when they want to get back to the topic list or group"
**What is the user story?**

Users click on "Leave topic" option when they want to get back to the topic list or group list.

<img width="819" alt="Leave topic" src="https://user-images.githubusercontent.com/45175679/108174275-e70c8800-7107-11eb-9a70-0f46374c8236.png">

**What is the requested feature?**

I would suggest to remove "leave topic" under the topic options, as this is confusing for use

[2021-02-17 08:45] ilmartyrk opened #637 "Google Picker API update 31.03.2021"
Hello Google Picker API developer,

We are writing to let you know about upcoming changes to the Google Picker API. We are contacting you because you use one or more apps connected to the Google Picker API.

What do I need to know?
Starting March 31, 2021, the Google Picker API will no longer support views and interactions with the following Google services:

Google Photos
Google Maps
YouTube
Goog

[2021-02-18 19:47] BeccaMelhuish opened #638 "Mobile responsiveness not working correctly in Estonian mode"
When trying to take a phone screenshot of the voting customisation options in Estonian, it seems that the mobile responsiveness isn't working properly (at least for this bit) when switched to Estonian. All the text, buttons etc. fit neatly within the width of phone screen when in English, but when switching to Estonian the content is slightly too wide for the screen. I tried it in both Chrome and

[2021-03-02 09:19] loorm commented on #628
Triage 34. Occasionally replicates, occasionally loads. Needs investigation, how social media loads a page to display a preview.  Need to test and find out, why does the time-out occur.

[2021-03-02 09:25] ilmartyrk commented on #301
Fixed together with https://github.com/citizenos/citizenos-fe/issues/286

[2021-03-02 09:25] #301 closed

[2021-03-02 09:31] loorm commented on #632
Triage 34. Replicated. "Edit" shortcut malfunctions in desktop view as well. Redirects to another topic, presumably the one on the top of "My Topics" list. Does not do so every time. Estimated dev time 1 day.

[2021-03-02 09:54] #635 closed

[2021-03-02 10:00] loorm commented on #636
Triage 34. Can see the confusion :) @kevincrepin Can you please suggest a solution?

[2021-03-02 10:01] loorm commented on #637
Triage 34. Needs investigation. Deadline is March 31.

[2021-03-02 10:13] loorm commented on #638
Triage 34. Replicated on smaller screens. Buttons fit nicely when "TAVALINE" and "MUU VALIKVASTUS" are displayed, but once you make either choice, in Estonian the view becomes too wide to fit on screen. In English, this does not happen. Hypothesis: we saw a difference in e-ID on-off switch location and logos beneath it. Check this first. Estimated dev time: 2 hours.

[2021-03-05 14:21] anettlinno commented on #525
Many users I have worked with do not understand what is "CSV file". Would it be somehow possible to add explanation what it is or make the difference more understandable for "ordinary people"? :))

[2021-03-08 08:44] ilmartyrk commented on #628
By looking at google page speed insights data, it is possible that background loading all views .html files is blocking the rendering/loading of social media views. Will confirm when removing this pre-loading part in our test environment

[2021-03-08 08:59] ilmartyrk commented on #637
As we are not using functionalities that are removed from picker, we are not affected.

[2021-03-08 08:59] #637 closed

[2021-03-08 11:36] tiblu commented on #394
NOTE: By a mistake I have added wrong issue link and thus Group invite commits show up here. They actually belong to issue https://github.com/citizenos/citizenos-fe/issues/348

[2021-03-10 12:21] tiblu commented on #348
**Deploy progress**

- [ ] Testing
    - [ ] API
    - [ ] FE
- [ ] Production
    - [ ] API
    - [ ] FE

[2021-03-11 16:08] battosai30 opened #641 "Admin panel"
Hi guys,

With a lot of effort I finally got my citizenos working :)

But I'm surprised to not found any admin panel to moderate the platform ?

So if I did not missed something, it could be a great feature :)

Regards

[2021-03-12 10:30] ilmartyrk commented on #628
Removed template-cache.js and seems that it actually didn't make any difference in social media box loading time

[2021-03-12 12:31] ilmartyrk commented on #631
Issue was on the API side, fixed by https://github.com/citizenos/citizenos-api/commit/733ee11400f6137e4312a72eb1579f3e09c4f51c

[2021-03-12 12:31] #631 closed

[2021-03-12 12:32] ilmartyrk commented on #597
First version is live, waiting on PP update for extra data from user and help page on web page to close the issue

[2021-03-12 14:26] ilmartyrk commented on #599
Pros:

[2021-03-15 08:25] ilmartyrk commented on #590
Database time zone is set etc/UTC and all dates we use have +00 at the end that means all date comparisons are based on this that means all votes end at the same time for all users. By default all heroku servers also use UTC so our code and DB run in the same time zone. This also means that timestamp created by code is same as DB uses.

[2021-03-15 09:35] ilmartyrk commented on #291
Can't reproduce, seems to have been fixed by some other update possibly paginating users and groups

[2021-03-15 09:35] #291 closed

[2021-03-15 10:47] ilmartyrk opened #643 "My topics view, edit topic redirect to wrong topic"
In my topics view, when topic in voting is active and user clicks on another topics edit link user is briefly redirected to the topic that was clicked and then redirected to the topic that is in voting. Seems that there is a race condition in `$stateChangeSuccess` watchers resulting in this odd behaviour.

[2021-03-15 10:48] ilmartyrk commented on #632
Created a separate issue from Triage 34  data https://github.com/citizenos/citizenos-fe/issues/643

[2021-03-15 11:35] #632 closed

[2021-03-15 13:19] loorm commented on #597
Right now it doesn't seem to follow FE language. Maybe it's not supposed to, yet.
![Capture_1503](https://user-images.githubusercontent.com/22661743/111159463-cb2ec180-85a1-11eb-96e0-be7fa171b222.JPG)

[2021-03-15 13:20] loorm commented on #597
Right now it doesn't seem to follow FE language. Maybe it's not supposed to, yet.
![Capture_1503](https://user-images.githubusercontent.com/22661743/111159634-fdd8ba00-85a1-11eb-8e74-8711c931e0ae.JPG)

[2021-03-16 08:46] #643 closed

[2021-03-16 09:10] ilmartyrk commented on #397
This has been fixed by updating EP to new version and theme

[2021-03-16 09:10] #397 closed

[2021-03-16 10:53] liinaguiter commented on #457
Let's go for Plausible and please remember to switch both the platform and the website! Thank you.

[2021-03-16 11:02] tiblu commented on #641
@battosai30 Thanks for creating an issue!
Can you elaborate on the admin panel, that is, what functionality would you expect it to have?

[2021-03-16 11:17] tiblu commented on #457
We MAY WANT to run a test period, where we run Google Analytics and Plausible in parallel.
Plausible would be enabled ALWAYS (being GDPR compliant).
GA would be enabled IF allows it.

It would give us some info:

* How many of the Users actually enable analytics
* How the Plausible data compares to GA

[2021-03-16 12:13] #587 closed

[2021-03-16 15:39] #638 closed

[2021-03-17 09:24] loorm commented on #628
Triage 35. Could be a Prerender service issue.  Need to investigate further.

[2021-03-17 09:25] loorm commented on #599
Triage 35. Need to do some price calculation and risk analysis.

[2021-03-17 09:31] loorm commented on #641
Triage 35. @battosai30 There is no admin panel. We recognize the need, but have not got around to creating one.
a) Topic moderation is handled via e-mails. We use something called "community moderation", where no single moderator holds authoritarian censorship power. Instead, random community members are chosen to assess topics, which are highlighted for moderation. They receive e-mails, that requ

[2021-03-17 09:48] loorm commented on #457
Triage 35. Green light. @liinaguiter Please handle the registration for the service and ask them to send an invoice for the whole year (to use the 33% discount).

2 months test period starting whenever Plausible starts tracking us.

[2021-03-17 13:50] tiblu opened #646 "UX: Dashboard (my/topics && my/groups) - when expanding multiple sections in /my/(topics|groups) switching between these views does not load the first item from the list"
**What is the problem?**

UX: Dashboard (my/topics && my/groups) - when expanding multiple sections in /my/(topics|groups) switching between these views does not load the first item from the list.

Reproduce:

* Go to /my/groups (or topics)
* Open up a detail view of a group (topic) that has multiple tabs to expand (user_list, group_list, topic_list).
* Expand multiple tabs.
* Switch to /my/topics

[2021-03-17 16:09] tiblu opened #647 "BUG: Dashboard - inviting a User collapses the members sections on /my/groups."
**What is the problem?**
When inviting Users to a Group, when the dialog closes, the "Users" section is collapsed.

**Why is this a problem?**
Inconvenient.

**Possible solution.**
Make the section reload it's content and stay open.

Related to:

* https://github.com/citizenos/citizenos-fe/issues/646
* https://github.com/citizenos/citizenos-fe/issues/348

[2021-03-17 16:15] tiblu commented on #348
Done.
For some leftovers that I did not find urgent to do right now, created separate issues to be prioritized.

[2021-03-17 16:15] #348 closed

[2021-03-17 16:28] tiblu commented on #636
@kevincrepin Do you have time to comment on this?

[2021-03-18 07:11] kevincrepin commented on #636
Hey, sorry. Very busy month. Earliest I can have a look at this is in April, I'm afraid :s

[2021-03-18 20:27] tiblu commented on #636
@kevincrepin No problem!

@anettlinno I will do the quickfix:

* Remove "Leave" from Topic view
* "Leave" remains on the Dashboard.

[2021-03-18 20:28] tiblu commented on #457
@loorm @liinaguiter

What do you think, is it worth running both GA and Plausible in parallel for a while or not?

[2021-03-19 10:26] ilmartyrk commented on #628
After updating prerender code and removing template-cache from FE got speed up-to 6s. While doing the research tried own prerender system by using puppeteer, but it still was as fast/slow as prerender server, even without all the logic done by the prerender server (link checking etc.). Only thing that made any difference was removing template-cache.js from our FE code, as after going deeper in the

[2021-03-19 10:26] #628 closed

[2021-03-19 14:23] ilmartyrk commented on #628
Important!!! to know, prerender production chrome crashed, but managed to get it working after https://help.heroku.com/18PI5RSY/how-do-i-clear-the-build-cache

[2021-03-22 10:30] tiblu opened #654 "Dashboard: Clicking card with Topic title or Group name sometimes does not expand the info"
**What is the problem?**
Clicking card with Topic title or Group name sometimes does not expand the info to the right.

![image](https://user-images.githubusercontent.com/7405383/111976329-2fa1d180-8b0a-11eb-9445-3bfce06e138c.png)

**Why is this a problem?**
The UI feels broken.
The root cause is that the full card is not the clickable element but only the Topic title / Group name.

**Possible sol

[2021-03-22 10:58] #444 closed

[2021-03-22 11:12] ilmartyrk commented on #444
Fixed by https://github.com/citizenos/citizenos-fe/commit/27aa06103d3dfae098043a710ca36edb15a97120

[2021-03-22 11:27] tiblu commented on #636
Removed "Leave topic" link from Topic view. Users can leave from Dashboard.

[2021-03-22 11:27] #636 closed

[2021-03-22 12:11] tiblu commented on #602
@loorm In case of "wontfix", shall we close this issue?

[2021-03-22 12:19] liinaguiter commented on #457
We have an account now on Plausible: Citizen OS Foundation. 30 days trial for free. @loorm, may I have the credit card please to pay for the whole year?

@tiblu Login: alex@citizenos.com (see ongi loodud igasuguste loginide jaoks)
Password: Veesoda400

[2021-03-22 12:35] tiblu commented on #457
@loorm @ilmartyrk @liinaguiter I will "fast track" this. I feel like this provides more value than other things in the priority list.

[2021-03-22 12:36] tiblu commented on #654
@loorm @ilmartyrk I will "fast track" this. It annoys me every time I visit Citizen OS. I feel like this provides more value than other things in the priority list.

[2021-03-22 13:59] tiblu commented on #654
Fixed the bug and also added the "Edit" link to "My Groups" view for consistency.

[2021-03-22 13:59] #654 closed

[2021-03-22 14:59] anettlinno opened #657 "Pre-filled email field makes users think their email is connected with their ID code when choosing ID-card, Mobile ID or Smart ID as log-in option"
**What is the user story?**
After receiving an email invitation to the group or topic, user clicks on "Log-in / register Citizen OS account". Our system provides pre-filled email and password. User logs in with ID card, because s/he thinks that if the email address field is pre-filled (has a valid email address), then the email address and identification code are connected. She logs in with ID car

[2021-03-22 15:13] anettlinno opened #658 "Changing password when reactivating deleted account"
**What is the user story?**
After deleting user account, user wants to create new account with the same email address. She gets system message that "This email address is already in use" and do not understand that she needs to change the password for reactivating new account.

**Which feature needs to be updated and how?**
System message should say that "For reactivating your account with this ema

[2021-03-22 15:17] anettlinno commented on #657
Another user case that applies to same issue: user thinks that ID voting requires ID log-in and therefore, when person is invited to a group or topic, she thinks that she has to sign-in with her ID card, to give the hard vote.

[2021-03-22 15:34] ilmartyrk commented on #658
After doing some checks it seems that there is possible conflict with user accounts and e-mail aliases. User deleted account and while trying to create a new account, stumbled upon old un-activated or un-used account that was related to this email. We don't have any 2 different users with same e-mails and we always delete email when user deletes his/her account.

[2021-03-22 15:48] anettlinno opened #659 "Private topic "lock" icon confuses users"
**What is the user story?**
The user who accepts the group invitation and logs in will land on the groups page. If they click on the "+" mark they see the topics in group but private topics have closed "locks". Users get confused and think that they cannot participate because the topic is locked. When they click on the topic, they will see the topic´s general information (on right) but not the con

[2021-03-22 15:59] anettlinno opened #660 "Big fat notification for "Your vote has been registered""
**What is the user story?**
"Your vote has been registered" notification should be bigger and better distinguishable as users do not "see" it in the current version.

<img width="570" alt="Vote has been registered" src="https://user-images.githubusercontent.com/45175679/112019274-f1bba200-8b37-11eb-84fd-1f849d0ee48b.png">

**Which feature needs to be updated and how?**
"Your vote has been register

[2021-03-23 09:37] anettlinno opened #661 "Increase the number of attachment"
**What is the user story?**
User needs to add more than 10 attachments. E.g. there are more than 10 board member candidates and they want to upload candidate introductions and presentations.

**Which feature needs to be updated and how?**
Increase the number of attachments from 10 to 15 or 20

**Additional information.**
Something you want to add, that didn't fit one of the boxes above.

[2021-03-23 10:25] anettlinno opened #662 "Group and topic rights could be better distinguished and explained"
**What is the user story?**
User story 1: Group admin gave all group members "reading" rights and "admin" rights to the topic. User (group admin) did not understand which right is at a higher level - group or topic. In this case user thought that group rights are higher than the topic rights, and as a result, one of the group members deleted one topic.
User story 2: Group admin expects that when g

[2021-03-23 10:34] tiblu commented on #457
@loorm @anettlinno @liinaguiter
Decided not to run the 2 analytics in parallel:
* First of all, the sample size in this testing would be small, that is new user sample size.
* We can see the difference comparing GA stats from weeks back and Plausible.
* We can make a clean solution - get rid of all code related to the cookie policy and analytics.

[2021-03-23 10:37] tiblu commented on #457
###Checklist

- [ ] Custom DNS setup in Plausible - https://plausible.io/docs/custom-domain
- [ ] Remove GA related code
- [ ] Remove cookie policy related code
- [ ] Insert Plausible snippet
- [ ] Exclude `test` and `dev` from the traffic.

[2021-03-23 10:42] anettlinno opened #663 "Folder system in groups"
**What is the user story?**
User wants to separate topics in the group, e.g. in general meetings there are 3-5 topics where members input/voting is expected and it is difficult to separate the topics valid for the latest meeting. To search for topics, the user needs to know the topic title or keywords, but sometimes does not.

<img width="261" alt="Folders" src="https://user-images.githubuserconte

[2021-03-23 10:59] anettlinno opened #664 "The display of counted votes is confusing"
**What is the user story?**
Voting results are displayed in two numbers, e.g. 6/11 and users do not understand what these numbers show.

<img width="508" alt="counted votes" src="https://user-images.githubusercontent.com/45175679/112135853-eb303780-8bd6-11eb-831c-93db8524e2bd.png">

**Which feature needs to be updated and how?**
There could be exclamation or question mark icon and when user slides

[2021-03-23 13:47] liinaguiter commented on #664
Strongly agree that adding info bubbles to many (if not all) features on our platform would help the user right at the place where they are stuck / confused. Hypothetically this will reduce the number of help requests to our customer support and increase the number of users because they do not give up.

Another example of an info bubble design for insporation = )
<img width="403" alt="Screenshot 2

[2021-03-23 14:32] ilmartyrk opened #667 "Voting end time sometimes fails to be 00:00:00 the chosen day +1"
Vote creating process allows users to only pick date not time. This ends in final time not being consistent throughout different votes. Although votes should default to creators time-zones 00:00:00 time eg. Estonian user chooses vote end date to be 23.03.2021 and it is saved into DB as 24.03.2021 00:00:00+02. But after taking look into values in DB it seems that there are some timestamps that don'

[2021-03-23 14:43] tiblu commented on #457
**Done!**

* Removed all GA related code.
* Removed all cookie policy related code.
* Using Plausible.
* Analytics configurable from env `CITIZENOS_FEATURES_ANALYTICS` (JSON)
* Created a task for Citizen OS Web (landing page) to switch over to Plausible (https://github.com/citizenos/citizenos-web/issues/161)

[2021-03-23 14:43] #457 closed

[2021-03-23 14:46] #88 closed

[2021-03-23 14:48] anettlinno opened #668 "Users do not understand what is CSV fail"
**What is the user story?**
Users who download the results file after ID voting gets two options: 1) container without CSV fail 2) container with CSV fail. They don´t understand what is CVS fail.

<img width="514" alt="T6lge" src="https://user-images.githubusercontent.com/45175679/112165059-11fe6600-8bf7-11eb-9d08-196df6069e58.png">

**Which feature needs to be updated and how?**
Adding informatio

[2021-03-23 15:11] ilmartyrk opened #669 "Update Environment variable config to support json values"
We currently need to make new commits when new language is added because there was not an option to add JSON from environment variables. But as there is now way to allow config to use JSON values we can update our config files to support it where possible. https://github.com/lorenwest/node-config/wiki/Environment-Variables

[2021-03-23 15:12] anettlinno opened #670 "Show members email addresses to group/topic admin"
**What is the user story?**
The administrator of the group or topic wants to update the email addresses of the members but they only see the user name and user rights but not the email addresses that members have been invited to the group/topic. As a group/topic administrator have the user list anyway (they have invited all members into the group/topic), then users emails could be shown to them.

[2021-03-23 15:16] tiblu commented on #588
@loorm  Moved to "In preparation", does not look ready for development.

[2021-03-23 15:39] tiblu commented on #597
@KatiVellak Do I understand it correct that we DO NOT NEED extra consent from User to collect following extra info along with the help request:

* Browser name and version (`window.clientInformation.userAgent`)
* Operating system name (`window.clientInformation.platform`)
* Browser window height (`window.innerHeight`)
* Browser window width (`window.innerWidth`);
* The current URL from which the h

[2021-03-24 10:37] tiblu commented on #669
https://github.com/lorenwest/node-config/wiki/Environment-Variables#custom-environment-variables

[code]

[2021-03-24 15:03] tiblu commented on #535
**TODO**

- [ ] Verify that the issue is indeed with "ep_title_limit"
- [ ] Get emulator/phone running against development environment

[2021-03-25 12:38] anettlinno opened #673 "Bulleting & numbering does not work in arguments section"
**What is the problem?**
Bulleting and numbering does not work in arguments session. When I click either on the bulleting or numbering button, nothing happens.

<img width="576" alt="Bullets   numbers" src="https://user-images.githubusercontent.com/45175679/112473896-9aa41000-8d77-11eb-9e3a-57d9d645c82c.png">

**Why is this a problem?**
Bulletin & numbering is not working in arguments section.

**

[2021-03-29 14:46] tiblu opened #676 "ETHERPAD: Collaborative editor broken when 2 users create session in same browser - no changes visible to collaborators, errors on screen"
**What is the problem?**
Etherpad collaborative editing is broken, other Users do not see changes, but get an error message.

**UPDATE:** Issue only occurs when you try to access same Pad with different Users in same browser.  What happens is `ep_auth_citizenos` invalidates current session when User accesses Pad, so in the other browser window, the session is not valid any more and gets this weird

[2021-03-30 08:25] ilmartyrk commented on #673
Tracked it down to be a style issue, just needs bulleting and numbering visibility restored

[2021-03-30 12:04] tiblu commented on #676
**Investigation**

Interesting, login as same User for the same PAD in different browsers - Chrome & IE.
When I post as the same User from 3rd client - Chrome mobile - Chrome client sees different WS messages and throws an error while IE works fine.

![image](https://user-images.githubusercontent.com/7405383/112985414-d1f43180-9168-11eb-8900-b88e48b4a532.png)

[2021-03-30 14:03] tiblu commented on #676
**Upgrading EP 1.8.13**

* ```[2021-03-30 17:02:44.947] [INFO] console - Random string used for versioning assets: 686d8541
/home/m/dev/etherpad-lite-heroku/etherpad-lite/src/node_modules/ueberdb2/databases/postgres_db.js:24
  this.settings.cache = settings.cache || 1000;
                      ^

TypeError: Cannot create property 'cache' on string 'postgres://etherpad:etherpad@localhost:5432/ether